Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^packages/datadog-api-client-v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

Regenerate client from commit 9c185b5 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/TableWidgetRequest.ts
  packages/datadog-api-client-v1/models/WidgetFormula.ts
Due: generated

Always latest tag in release script
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

Always latest tag in release script (#225)
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: none

Regenerate client from commit a4f22f3 of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-list_stream-widget_2104740843/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-list_stream-widget_2104740843/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ListStreamColumn.ts
  packages/datadog-api-client-v1/models/ListStreamColumnWidth.ts
  packages/datadog-api-client-v1/models/ListStreamQuery.ts
  packages/datadog-api-client-v1/models/ListStreamResponseFormat.ts
  packages/datadog-api-client-v1/models/ListStreamSource.ts
  packages/datadog-api-client-v1/models/ListStreamWidgetDefinition.ts
  packages/datadog-api-client-v1/models/ListStreamWidgetDefinitionType.ts
  packages/datadog-api-client-v1/models/ListStreamWidgetRequest.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
Due: generated, generated-features

handle ParseException
  .generator/templates/model/ObjectSerializer.mustache
Due: none

Regenerate client from commit 00e20be of spec repo
  .apigentools-info
  docs/v2/UsersApi.md
  features/v2/users.feature
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/UsersApi.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/OrganizationsResponse.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features

fix serialization
  .generator/templates/model/ObjectSerializer.mustache
Due: none

serialize objects in response comparison steps
  features/step_definitions/request_steps.ts
Due: none

Regenerate client from commit 45a7fe0 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
Due: none

update cassette
  cassettes/v1/Synthetics_2658572017/Client-is-resilient-to-enum-and-oneOf-deserialization-errors_3747984761/frozen.json
  cassettes/v1/Synthetics_2658572017/Client-is-resilient-to-enum-and-oneOf-deserialization-errors_3747984761/recording.har
Due: none

support replay-only tag for bdd scenarios
  features/support/hooks.ts
Due: none

support replay-only tag for bdd scenarios (#228)
  features/support/hooks.ts
Due: none

Regenerate client from commit 0b10309 of spec repo
  .apigentools-info
  features/v1/dashboards.feature
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ListStreamColumn.ts
  packages/datadog-api-client-v1/models/ListStreamColumnWidth.ts
  packages/datadog-api-client-v1/models/ListStreamQuery.ts
  packages/datadog-api-client-v1/models/ListStreamResponseFormat.ts
  packages/datadog-api-client-v1/models/ListStreamSource.ts
  packages/datadog-api-client-v1/models/ListStreamWidgetDefinition.ts
  packages/datadog-api-client-v1/models/ListStreamWidgetDefinitionType.ts
  packages/datadog-api-client-v1/models/ListStreamWidgetRequest.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
Due: generated, generated-features

add outDir to examples tsconfig
  check-examples.sh
Due: none

build examples in dist folder (#229)
  check-examples.sh
Due: none

fix model
  .generator/templates/model/model.mustache
Due: none

update cassettes
  cassettes/v1/Synthetics_2658572017/Client-is-resilient-to-enum-and-oneOf-deserialization-errors_3747984761/frozen.json
  cassettes/v1/Synthetics_2658572017/Client-is-resilient-to-enum-and-oneOf-deserialization-errors_3747984761/recording.har
Due: none

update model
  .generator/templates/model/model.mustache
Due: none

Regenerate client from commit c5118ab of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  features/v1/synthetics.feature
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ChargebackOrgMonth.ts
  packages/datadog-api-client-v1/models/ChargebackSummaryCharge.ts
  packages/datadog-api-client-v1/models/ChargebackSummaryResponse.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit a54f925 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit daf910e of spec repo
  .apigentools-info
  features/v1/service_checks.feature
Due: generated-features

Regenerate client from commit 7d1e126 of spec repo
  .apigentools-info
  docs/v1/LogsIndexesApi.md
  features/v1/logs_indexes.feature
  packages/datadog-api-client-v1/models/LogsExclusionFilter.ts
Due: generated, generated-features

tests: bump dd-trace library to 0.36.1 (#216)
  bin/dd-cucumber-js
  cucumber.js
  features/support/tracer.ts
  package.json
  run-tests.sh
  yarn.lock
Due: none

code fixes
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: none

fix serialize
  .generator/templates/model/model.mustache
Due: none

apply suggestions - wip
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: none

fix typo
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: none

add UnparsedObject class to all OneOfs
  .generator/templates/model/model.mustache
Due: none

code fixes 2
  .generator/templates/model/model.mustache
Due: none

return UnparsedObject on enum check fail
  .generator/templates/model/model.mustache
Due: none

code fixes 3 on sync
  .generator/templates/model/model.mustache
Due: none

Regenerate client from commit 7c70bbe of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

fix serialization issues
  .generator/templates/model/ObjectSerializer.mustache
  features/step_definitions/request_steps.ts
  features/support/templating.ts
Due: none

fix pathLookUp
  features/support/templating.ts
Due: none

Regenerate client from commit c6e36ca of spec repo
  .apigentools-info
  features/v1/logs_pipelines.feature
  packages/datadog-api-client-v1/models/LogsArithmeticProcessor.ts
  packages/datadog-api-client-v1/models/LogsGrokParser.ts
Due: generated, generated-features

Regenerate client from commit dafdffa of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  features/v1/monitors.feature
  packages/datadog-api-client-v1/models/MonitorOptions.ts
Due: generated, generated-features

Add Jest unit test framework
  jest.config.js
  package.json
  yarn.lock
Due: none

Add Deserialization tests
  tests/api/deserialization.test.ts
  yarn.lock
Due: none

run unit tests in run-tests.sh
  LICENSE-3rdparty.csv
  run-tests.sh
Due: none
