Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Prepare release (#177)
  .github/workflows/approved_status.yml
  CHANGELOG.md
  package.json
Due: none

Regenerate client from commit f570d1e of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageBillableSummaryKeys.ts
Due: generated

Make some changes post release
  .github/workflows/prerelease.yml
  README.md
  RELEASING.md
  version.ts
Due: none

Simplify example
  README.md
Due: none

Update version.ts
  version.ts
Due: none

Make some changes post release (#178)
  .github/workflows/prerelease.yml
  README.md
  RELEASING.md
  version.ts
Due: none

don't post status check on non generated prs
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit dfe65f1 of spec repo
  .apigentools-info
Due: none

[typescript] Generate documentation and examples (#9413)
  .generator/templates/api_doc.mustache
Due: none

Revert "[typescript] Generate documentation and examples (#9413)" (#9758)
  .generator/templates/api_doc.mustache
Due: none

Regenerate client from commit 6c1fcab of spec repo
  .apigentools-info
  docs/v1/ServiceLevelObjectivesApi.md
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 0664044 of spec repo
  .apigentools-info
  docs/v1/DashboardsApi.md
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/Dashboard.ts
Due: generated, generated-features

Regenerate client from commit 92478ee of spec repo
  .apigentools-info
  docs/v2/SecurityMonitoringApi.md
  features/v2/security_monitoring.feature
  packages/datadog-api-client-v2/models/SecurityMonitoringListRulesResponse.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleCreatePayload.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleResponse.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleUpdatePayload.ts
Due: generated, generated-features

Add cassettes
  cassettes/v1/Metrics_2046978582/Query-timeseries-points-returns-OK-response_1049433794/frozen.json
  cassettes/v1/Metrics_2046978582/Query-timeseries-points-returns-OK-response_1049433794/recording.har
Due: none

Add function for time in bdd
  features/support/templating.ts
  features/support/vcr.ts
Due: none

trim
  features/support/templating.ts
Due: none

Regenerate client from commit ccc57f4 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/MetricsQueryMetadata.ts
Due: generated

Regenerate client from commit 4951cff of spec repo
  .apigentools-info
  features/v1/given.json
  features/v1/service_level_objective_corrections.feature
Due: generated-features

Update cassettes
  cassettes/v1/Metrics_2046978582/Query-timeseries-points-returns-OK-response_1049433794/frozen.json
  cassettes/v1/Metrics_2046978582/Query-timeseries-points-returns-OK-response_1049433794/recording.har
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/frozen.json
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/recording.har
Due: none

Regenerate client from commit 3efd10d of spec repo
  .apigentools-info
  features/v1/metrics.feature
Due: generated-features

Regenerate client from commit 7f25c3e of spec repo
  .apigentools-info
  docs/v2/SecurityMonitoringApi.md
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

Add support for undo body, add cassettes for new test
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-returns-OK-Returns-the-created-test-details-response_1284708565/frozen.json
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-returns-OK-Returns-the-created-test-details-response_1284708565/recording.har
  features/support/undo.ts
Due: none

Regenerate client from commit 8327a94 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/models/LogContent.ts
  packages/datadog-api-client-v2/models/LogAttributes.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringSignalAttributes.ts
Due: generated, generated-features

Regenerate client from commit 609ca23 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsTestOptions.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Fix api docs
  .generator/templates/api_doc.mustache
Due: none

Regenerate client from commit 6820788 of spec repo
  .apigentools-info
  features/v1/metrics.feature
Due: generated-features

Upgrade eslint and typescript-eslint
  package.json
  yarn.lock
Due: none

Regenerate client from commit 4046482 of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  docs/v1/AWSLogsIntegrationApi.md
  docs/v1/AzureIntegrationApi.md
  docs/v1/DashboardsApi.md
  docs/v1/EventsApi.md
  docs/v1/GCPIntegrationApi.md
  docs/v1/HostsApi.md
  docs/v1/LogsApi.md
  docs/v1/LogsIndexesApi.md
  docs/v1/LogsPipelinesApi.md
  docs/v1/MetricsApi.md
  docs/v1/MonitorsApi.md
  docs/v1/NotebooksApi.md
  docs/v1/OrganizationsApi.md
  docs/v1/ServiceChecksApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SnapshotsApi.md
  docs/v1/SyntheticsApi.md
  docs/v1/TagsApi.md
  docs/v1/UsageMeteringApi.md
  docs/v1/UsersApi.md
  docs/v2/IncidentServicesApi.md
  docs/v2/IncidentTeamsApi.md
  docs/v2/LogsApi.md
  docs/v2/LogsArchivesApi.md
  docs/v2/LogsMetricsApi.md
  docs/v2/MetricsApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
Due: none

Regenerate client from commit ac88040 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/servers.ts
Due: generated

Upgrade eslint and typescript-eslint (#193)
  package.json
  yarn.lock
Due: none

Fix lint errors, add remove import extension
  .eslintrc.js
  .generator/templates/auth/auth.mustache
  .generator/templates/http/http.mustache
  package.json
  yarn.lock
Due: none

Manual linting on tests
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/hooks.ts
  features/support/store.ts
  features/support/templating.ts
  features/support/tracer.ts
  features/support/undo.ts
  features/support/vcr.ts
  features/support/world.ts
Due: none

Remove empty parameters
  .generator/templates/index.mustache
  .generator/templates/types/ObjectParamAPI.mustache
Due: none

Fix license
  LICENSE-3rdparty.csv
Due: none

Fix tests
  features/step_definitions/request_steps.ts
Due: none

Fix given
  features/support/given.ts
  run-tests.sh
Due: none

Regenerate client from commit 30e3ae0 of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  packages/datadog-api-client-v1/apis/AWSIntegrationApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit d18c63f of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  features/v1/monitors.feature
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Try to reduce number of tsc calls
  check-examples.sh
  run-tests.sh
Due: none

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
