Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Regenerate client from commit 07a72ae of spec repo
  .apigentools-info
Due: none

ci: report status for unit tests
  .github/workflows/scripts/test_integration.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

use job status
  .github/workflows/test.yml
Due: none

add missing test type
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 49e5f63 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/TreeMapColorBy.ts
  packages/datadog-api-client-v1/models/TreeMapGroupBy.ts
  packages/datadog-api-client-v1/models/TreeMapSizeBy.ts
  packages/datadog-api-client-v1/models/TreeMapWidgetDefinition.ts
  packages/datadog-api-client-v1/models/TreeMapWidgetDefinitionType.ts
  packages/datadog-api-client-v1/models/TreeMapWidgetRequest.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
Due: generated

Regenerate client from commit 6fd5e2f of spec repo
  .apigentools-info
Due: none

gh: migrate script to action
  .github/actions/post-status-check/action.yml
  .github/workflows/scripts/test_integration.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

ci: use DataDog/github-actions
  .github/actions/post-status-check/action.yml
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 4cc1eed of spec repo
  .apigentools-info
  docs/v1/ServiceLevelObjectivesApi.md
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/models/SLOThreshold.ts
  packages/datadog-api-client-v1/models/SLOTimeframe.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

fix status pending
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit d33e517 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 17171be of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/Pagination.ts
  packages/datadog-api-client-v1/models/ResponseMetaAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionListResponse.ts
Due: generated

Regenerate client from commit 9777e49 of spec repo
  .apigentools-info
  docs/v2/KeyManagementApi.md
  features/v2/key_management.feature
  features/v2/undo.json
  packages/datadog-api-client-v2/apis/KeyManagementApi.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features

rm ip-ranges
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/frozen.json
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/recording.har
Due: none

Regenerate client from commit cbb2404 of spec repo
  .apigentools-info
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/frozen.json
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/recording.har
Due: none

Regenerate client from commit 0eabb4b of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

tests: bump dd-trace library to 0.36.1
  bin/dd-cucumber-js
  cucumber.js
  features/support/tracer.ts
  package.json
  run-tests.sh
  yarn.lock
Due: none

Add unparsedObject attribute to handle enum/OneOf changes
  .generator/templates/model/model.mustache
Due: none

Regenerate client from commit 6586890 of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 5155c78 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated, generated-features

Regenerate client from commit c2e2dda of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsBrowserError.ts
Due: generated

Regenerate client from commit f0a4221 of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  features/v1/aws_integration.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/AWSIntegrationApi.ts
  packages/datadog-api-client-v1/models/AWSAccountDeleteRequest.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 305aaa6 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
Due: generated

dynamic version file
  .generator/templates/http/http.mustache
  .gitignore
  package.json
  packages/datadog-api-client-v1/http/http.ts
  packages/datadog-api-client-v2/http/http.ts
  userAgent.ts
Due: generated

Regenerate client from commit 89a8fcc of spec repo
  .apigentools-info
Due: none

v1.0.0-beta.4
  CHANGELOG.md
  RELEASING.md
  package.json
Due: none

Apply suggestions from code review
  CHANGELOG.md
Due: none

v1.0.0-beta.4 (#221)
  CHANGELOG.md
  RELEASING.md
  package.json
Due: none

Add ParseException
  .generator/templates/model/ParseException.mustache
  .generator/templates/model/model.mustache
Due: none

Regenerate client from commit 18eae8f of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-an-audit-logs-query_1479743011/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-an-audit-logs-query_1479743011/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventsDataSource.ts
  packages/datadog-api-client-v1/models/QueryValueWidgetRequest.ts
  packages/datadog-api-client-v1/models/TimeseriesWidgetRequest.ts
  packages/datadog-api-client-v1/models/ToplistWidgetRequest.ts
Due: generated, generated-features

Remove Enum Value Check
  .generator/templates/model/model.mustache
Due: none

Regenerate client from commit 3333df2 of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Delete-dashboards-returns-No-Content-response_3929560673/frozen.json
  cassettes/v1/Dashboards_1335235736/Delete-dashboards-returns-No-Content-response_3929560673/recording.har
  docs/v1/DashboardsApi.md
  features/v1/dashboards.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/DashboardsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/DashboardBulkActionData.ts
  packages/datadog-api-client-v1/models/DashboardBulkDeleteRequest.ts
  packages/datadog-api-client-v1/models/DashboardResourceType.ts
  packages/datadog-api-client-v1/models/DashboardRestoreRequest.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit a499a64 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
Due: generated

Keep Enum value Check but ignore failing oneOfs
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: none

refactor unparsedObject
  .generator/templates/model/model.mustache
Due: none

delete empty unparsedObject attributes
  features/support/templating.ts
Due: none

Refactor ParseException
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/ParseException.mustache
  .generator/templates/model/model.mustache
Due: none

fix model.mustache
  .generator/templates/model/model.mustache
Due: none

Fix Serialize Method
  .generator/templates/model/ObjectSerializer.mustache
  features/support/templating.ts
Due: none

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
