Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

cassettes
  cassettes/v2/Metrics_2046978582/List-Ingested-Tags-by-Metric-Name-returns-Success-response_3267752164/frozen.json
  cassettes/v2/Metrics_2046978582/List-Ingested-Tags-by-Metric-Name-returns-Success-response_3267752164/recording.har
  cassettes/v2/Metrics_2046978582/List-Ingested-and-Indexed-Volumes-by-Metric-Name-returns-Success-response_281456030/frozen.json
  cassettes/v2/Metrics_2046978582/List-Ingested-and-Indexed-Volumes-by-Metric-Name-returns-Success-response_281456030/recording.har
Due: none

Regenerate client from commit a35be2d of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/DowntimeRecurrence.ts
Due: generated

Regenerate client from commit ac9282d of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/FormulaAndFunctionResponseFormat.ts
  packages/datadog-api-client-v1/models/QueryValueWidgetRequest.ts
  packages/datadog-api-client-v1/models/TimeseriesWidgetRequest.ts
  packages/datadog-api-client-v1/models/ToplistWidgetRequest.ts
Due: generated

Remove unused field in test action
  .github/workflows/test.yml
Due: none

Regenerate client from commit 46cbd6f of spec repo
  .apigentools-info
  features/v1/metrics.feature
  features/v2/metrics.feature
  packages/datadog-api-client-v1/models/MonitorOptions.ts
Due: generated, generated-features

updated cassettes
  cassettes/v2/Metrics_2046978582/List-Distinct-Metric-Volumes-by-Metric-Name-returns-Success-response_1796719109/frozen.json
  cassettes/v2/Metrics_2046978582/List-Distinct-Metric-Volumes-by-Metric-Name-returns-Success-response_1796719109/recording.har
  cassettes/v2/Metrics_2046978582/List-Ingested-Tags-by-Metric-Name-returns-Success-response_3267752164/frozen.json
  cassettes/v2/Metrics_2046978582/List-Ingested-and-Indexed-Volumes-by-Metric-Name-returns-Success-response_281456030/frozen.json
  cassettes/v2/Metrics_2046978582/List-Tags-by-Metric-Name-returns-Success-response_2917059969/frozen.json
  cassettes/v2/Metrics_2046978582/List-Tags-by-Metric-Name-returns-Success-response_2917059969/recording.har
Due: none

Regenerate client from commit 12c0486 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsAPITest.ts
  packages/datadog-api-client-v1/models/SyntheticsAPITestConfig.ts
  packages/datadog-api-client-v1/models/SyntheticsAPITestType.ts
  packages/datadog-api-client-v1/models/SyntheticsBrowserTest.ts
  packages/datadog-api-client-v1/models/SyntheticsBrowserTestConfig.ts
  packages/datadog-api-client-v1/models/SyntheticsBrowserTestType.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

node>=12
  .github/workflows/test.yml
  .npmrc
  package.json
  yarn.lock
Due: none

Regenerate client from commit 0de7e0c of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

enable tracer only when DD_AGENT_HOST is set
  cucumber.js
  features/support/vcr.ts
Due: none

Remove unused field in test action (#14)
  .github/workflows/test.yml
  .npmrc
  cucumber.js
  features/support/vcr.ts
  package.json
  yarn.lock
Due: none

Fix condition
  run-tests.sh
Due: none

updated cassettes
  cassettes/v2/Metrics_2046978582/Create-a-Tag-Configuration-returns-Created-response_3949047026/frozen.json
  cassettes/v2/Metrics_2046978582/Create-a-tag-configuration-returns-Created-response_1715119794/frozen.json
  cassettes/v2/Metrics_2046978582/Create-a-tag-configuration-returns-Created-response_1715119794/recording.har
  cassettes/v2/Metrics_2046978582/Delete-a-Tag-Configuration-returns-No-Content-response_618428993/frozen.json
  cassettes/v2/Metrics_2046978582/Delete-a-tag-configuration-returns-No-Content-response_1527232065/frozen.json
  cassettes/v2/Metrics_2046978582/Delete-a-tag-configuration-returns-No-Content-response_1527232065/recording.har
  cassettes/v2/Metrics_2046978582/List-Tag-Configuration-by-Name-returns-Success-response_2868263304/frozen.json
  cassettes/v2/Metrics_2046978582/List-Tag-Configurations-returns-Success-response_2170516005/frozen.json
  cassettes/v2/Metrics_2046978582/List-distinct-metric-volumes-by-metric-name-returns-Success-response_3043563941/frozen.json
  cassettes/v2/Metrics_2046978582/List-distinct-metric-volumes-by-metric-name-returns-Success-response_3043563941/recording.har
  cassettes/v2/Metrics_2046978582/List-tag-configuration-by-name-returns-Success-response_2842152424/frozen.json
  cassettes/v2/Metrics_2046978582/List-tag-configuration-by-name-returns-Success-response_2842152424/recording.har
  cassettes/v2/Metrics_2046978582/List-tag-configurations-returns-Success-response_2190854565/frozen.json
  cassettes/v2/Metrics_2046978582/List-tag-configurations-returns-Success-response_2190854565/recording.har
  cassettes/v2/Metrics_2046978582/List-tags-by-metric-name-returns-Success-response_86181601/frozen.json
  cassettes/v2/Metrics_2046978582/List-tags-by-metric-name-returns-Success-response_86181601/recording.har
  cassettes/v2/Metrics_2046978582/Update-a-Tag-Configuration-returns-OK-response_1185734443/frozen.json
  cassettes/v2/Metrics_2046978582/Update-a-tag-configuration-returns-OK-response_3416417835/frozen.json
  cassettes/v2/Metrics_2046978582/Update-a-tag-configuration-returns-OK-response_3416417835/recording.har
Due: none

Add cassettes
  cassettes/v1/Events_3416228/Post-an-event-returns-OK-response_1209415328/frozen.json
  cassettes/v1/Events_3416228/Post-an-event-returns-OK-response_1209415328/recording.har
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/frozen.json
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/recording.har
  cassettes/v1/Service-Checks_3676061333/Submit-a-Service-Check-returns-Payload-accepted-response_2873002490/frozen.json
  cassettes/v1/Service-Checks_3676061333/Submit-a-Service-Check-returns-Payload-accepted-response_2873002490/recording.har
Due: none

Regenerate client from commit aad6dbb of spec repo
  .apigentools-info
  features/v1/metrics.feature
  features/v2/metrics.feature
  features/v2/undo.json
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/models/MetricAllTags.ts
  packages/datadog-api-client-v2/models/MetricAllTagsAttributes.ts
  packages/datadog-api-client-v2/models/MetricAllTagsResponse.ts
  packages/datadog-api-client-v2/models/MetricDistinctVolume.ts
  packages/datadog-api-client-v2/models/MetricDistinctVolumeAttributes.ts
  packages/datadog-api-client-v2/models/MetricDistinctVolumeType.ts
  packages/datadog-api-client-v2/models/MetricIngestedIndexedVolume.ts
  packages/datadog-api-client-v2/models/MetricIngestedIndexedVolumeAttributes.ts
  packages/datadog-api-client-v2/models/MetricIngestedIndexedVolumeType.ts
  packages/datadog-api-client-v2/models/MetricVolumes.ts
  packages/datadog-api-client-v2/models/MetricVolumesResponse.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/all.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit f614243 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsCoreWebVitals.ts
  packages/datadog-api-client-v1/models/SyntheticsStepDetail.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 2a95fb4 of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

record logs
  cassettes/v1/Logs_1370058150/Send-logs-returns-Response-from-server-always-200-empty-JSON-response_3987203815/frozen.json
  cassettes/v1/Logs_1370058150/Send-logs-returns-Response-from-server-always-200-empty-JSON-response_3987203815/recording.har
Due: none

Regenerate client from commit a75da1e of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionMetricQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionProcessQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionQueryDefinition.ts
Due: generated

Regenerate client from commit ce24aad of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsAPIStep.ts
  packages/datadog-api-client-v1/models/SyntheticsAPIStepSubtype.ts
  packages/datadog-api-client-v1/models/SyntheticsParsingOptions.ts
  packages/datadog-api-client-v1/models/SyntheticsVariableParser.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 9a30209 of spec repo
  .apigentools-info
  features/v1/service_level_objectives.feature
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Don't run changelog check until PR is ready for review
  .github/workflows/changelog.yaml
Due: none

Don't run changelog check until PR is ready for review (#26)
  .github/workflows/changelog.yaml
Due: none

ci: use DD_INSIDE_CI
  .azure-pipelines/all.yml
Due: none

Regenerate client from commit 95807f2 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SLOHistoryMetrics.ts
  packages/datadog-api-client-v1/models/SLOHistoryResponseData.ts
  packages/datadog-api-client-v1/models/SLOHistorySLIData.ts
Due: generated

ci: use DD_INSIDE_CI (#27)
  .azure-pipelines/all.yml
Due: none

Update all.yml
  .azure-pipelines/all.yml
Due: none

Regenerate client from commit cc977e5 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/TimeseriesWidgetDefinition.ts
  packages/datadog-api-client-v1/models/TimeseriesWidgetLegendLayout.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Update cassettes
  cassettes/v1/Events_3416228/Post-an-event-returns-OK-response_1209415328/frozen.json
  cassettes/v1/Events_3416228/Post-an-event-returns-OK-response_1209415328/recording.har
Due: none

Regenerate client from commit f22ef72 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/TimeseriesWidgetDefinition.ts
  packages/datadog-api-client-v1/models/TimeseriesWidgetLegendColumn.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 3de82a7 of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

Regenerate client from commit cba6cab of spec repo
  .apigentools-info
  features/v1/undo.json
Due: none

Regenerate client from commit c679afc of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventAggregation.ts
Due: generated

Apply template-patches/typescript-per-endpoint-servers.patch
  .generator/templates/api/api.mustache
  .generator/templates/configuration.mustache
  .generator/templates/http/servers.mustache
Due: none

Apply template-patches/typescript-custom-license-header.patch
  .generator/templates/licenseInfo.mustache
Due: none

Apply template-patches/typescript-date-serialization.patch
  .generator/templates/model/ObjectSerializer.mustache
Due: none

Apply template-patches/typescript-star-imports.patch
  .generator/templates/api/api.mustache
  .generator/templates/http/http.mustache
Due: none

Apply template-patches/typescript-alias-from-function.patch
  .generator/templates/types/ObservableAPI.mustache
Due: none

Apply template-patches/typescript-user-agent.patch
  .generator/templates/http/http.mustache
Due: none

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
