Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generated
        name: Do not commit generated files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^packages/datadog-api-client-v[1-9].*"
        verbose: true
      - id: generated-features
        name: Do not commit generated feature files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^features/v[1-9][0-9]*/.*.feature$"
        verbose: true
      - id: generate
        name: Generate
        language: node
        entry: make
        files: "^.generator/.*"
        pass_filenames: false
      - id: lint
        name: Lint
        language: node
        entry: yarn run lint:fix
        stages: [manual]
        pass_filenames: false

Regenerate client from commit 54aeadc of spec repo
  .apigentools-info
  features/v1/logs.feature
  features/v1/metrics.feature
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit 729b64f of spec repo
  .apigentools-info
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/notebooks.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/usage_metering.feature
  features/v1/users.feature
  features/v1/webhooks_integration.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/service_accounts.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from commit 4324847 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  packages/datadog-api-client-v2/models/SecurityMonitoringSignalAttributes.ts
Due: generated, generate

Regenerate client from commit 7428356 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

tests: bump dd-trace-js to 1.6.0
  bin/dd-cucumber-js
  cucumber.js
  package.json
  yarn.lock
Due: none

tests: bump dd-trace-js to 1.6.0 (#436)
  bin/dd-cucumber-js
  cucumber.js
  package.json
  yarn.lock
Due: none

Regenerate client from commit 4c16b82 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  packages/datadog-api-client-v2/models/LogsQueryFilter.ts
Due: generated, generate

Regenerate client from commit eb96eba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/MonitorsApi.md
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generate

Regenerate client from commit 33ea608 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageRumUnitsHour.ts
Due: generated, generate

Regenerate client from commit 3934ce4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsConfigVariable.ts
Due: generated, generated-features, generate

Regenerate client from commit f676b70 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Create-an-SLO-correction-with-rrule-returns-OK-response_3003320282/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Create-an-SLO-correction-with-rrule-returns-OK-response_3003320282/recording.har
  docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  features/v1/service_level_objective_corrections.feature
  packages/datadog-api-client-v1/models/SLOCorrectionCreateRequestAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionResponseAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionUpdateRequestAttributes.ts
Due: generated, generated-features, generate

Fix header passing in BDD tests
  features/step_definitions/request_steps.ts
Due: none

Regenerate client from commit d90592c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v1/MonitorsApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/TagsApi.md
  features/v1/logs_pipelines.feature
  features/v2/logs_archives.feature
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/apis/TagsApi.ts
  packages/datadog-api-client-v1/models/Event.ts
  packages/datadog-api-client-v1/models/EventCreateRequest.ts
  packages/datadog-api-client-v1/models/EventCreateResponse.ts
  packages/datadog-api-client-v1/models/LogsListRequestTime.ts
  packages/datadog-api-client-v1/models/MonitorSearchResult.ts
  packages/datadog-api-client-v1/models/SLOThreshold.ts
  packages/datadog-api-client-v1/models/UsageHostHour.ts
  packages/datadog-api-client-v1/models/WidgetAxis.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit 1d8c037 of spec repo
  .apigentools-info
  examples/v1/dashboards/CreateDashboard.ts
  examples/v1/downtimes/CreateDowntime.ts
  examples/v1/events/CreateEvent.ts
  examples/v1/monitors/GetMonitor.ts
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.ts
  examples/v1/synthetics/CreateSyntheticsAPITest.ts
  examples/v1/synthetics/ListTests.ts
  examples/v2/key-management/CreateCurrentUserApplicationKey.ts
  examples/v2/key-management/DeleteApplicationKey.ts
  examples/v2/key-management/DeleteCurrentUserApplicationKey.ts
  examples/v2/key-management/GetCurrentUserApplicationKey.ts
  examples/v2/key-management/ListApplicationKeys.ts
  examples/v2/key-management/ListCurrentUserApplicationKeys.ts
  examples/v2/logs/ListLogsGet.ts
  examples/v2/logs/SubmitLog.ts
  examples/v2/metrics/ListTagConfigurations.ts
  examples/v2/security-monitoring/CreateSecurityMonitoringRule.ts
  examples/v2/security-monitoring/DeleteSecurityFilter.ts
  examples/v2/service-accounts/CreateServiceAccountApplicationKey.ts
  examples/v2/service-accounts/DeleteServiceAccountApplicationKey.ts
  examples/v2/service-accounts/GetServiceAccountApplicationKey.ts
  examples/v2/service-accounts/ListServiceAccountApplicationKeys.ts
  examples/v2/service-accounts/UpdateServiceAccountApplicationKey.ts
  examples/v2/users/GetUser.ts
Due: none

Fix header passing in BDD tests (#439)
  features/step_definitions/request_steps.ts
Due: none

Document debug flag
  README.md
Due: none

Apply suggestions from code review
  README.md
Due: none

Update README.md
  README.md
Due: none

Document debug flag (#442)
  README.md
Due: none

Regenerate client from commit 7feb9cb of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-sunburst-widget-and-metrics-data_42225776/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-sunburst-widget-and-metrics-data_42225776/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SunburstWidgetDefinition.ts
  packages/datadog-api-client-v1/models/SunburstWidgetDefinitionType.ts
  packages/datadog-api-client-v1/models/SunburstWidgetLegend.ts
  packages/datadog-api-client-v1/models/SunburstWidgetLegendInlineAutomatic.ts
  packages/datadog-api-client-v1/models/SunburstWidgetLegendInlineAutomaticType.ts
  packages/datadog-api-client-v1/models/SunburstWidgetLegendTable.ts
  packages/datadog-api-client-v1/models/SunburstWidgetLegendTableType.ts
  packages/datadog-api-client-v1/models/SunburstWidgetRequest.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
Due: generated, generated-features, generate

Regenerate client from commit 44311ae of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit ee277b0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Monitors_4022238206/Create-a-ci-pipelines-monitor-returns-OK-response_2304811168/frozen.json
  cassettes/v1/Monitors_4022238206/Create-a-ci-pipelines-monitor-returns-OK-response_2304811168/recording.har
  docs/v1/MonitorsApi.md
  features/v1/monitors.feature
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/models/MonitorType.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit 90bc255 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageAuditLogsHour.ts
  packages/datadog-api-client-v1/models/UsageCWSHour.ts
  packages/datadog-api-client-v1/models/UsageCloudSecurityPostureManagementHour.ts
  packages/datadog-api-client-v1/models/UsageDBMHour.ts
Due: generated, generate

Regenerate client from commit 4bb7a8e of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/v2/Roles_1048039038/Create-a-new-role-by-cloning-an-existing-role-returns-Bad-Request-response_946633839/frozen.json
  cassettes/v2/Roles_1048039038/Create-a-new-role-by-cloning-an-existing-role-returns-Bad-Request-response_946633839/recording.har
  cassettes/v2/Roles_1048039038/Create-a-new-role-by-cloning-an-existing-role-returns-Conflict-response_2164431483/frozen.json
  cassettes/v2/Roles_1048039038/Create-a-new-role-by-cloning-an-existing-role-returns-Conflict-response_2164431483/recording.har
  cassettes/v2/Roles_1048039038/Create-a-new-role-by-cloning-an-existing-role-returns-OK-response_2541486363/frozen.json
  cassettes/v2/Roles_1048039038/Create-a-new-role-by-cloning-an-existing-role-returns-OK-response_2541486363/recording.har
  docs/v2/RolesApi.md
  examples/v2/roles/CloneRole.ts
  features/v2/roles.feature
  features/v2/undo.json
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/RolesApi.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/RoleClone.ts
  packages/datadog-api-client-v2/models/RoleCloneAttributes.ts
  packages/datadog-api-client-v2/models/RoleCloneRequest.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features, generate

Reduce prettier verbosity
  package.json
Due: none

Regenerate client from commit e61cc09 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 64d3ba7 of spec repo
  .apigentools-info
  examples/v1/downtimes/CreateDowntime.ts
  examples/v1/downtimes/CreateDowntime_1393233946.ts
  examples/v1/downtimes/CreateDowntime_2908359488.ts
  examples/v1/downtimes/CreateDowntime_3059354445.ts
  examples/v1/downtimes/CreateDowntime_3355644446.ts
  examples/v1/metrics/QueryMetrics.ts
  examples/v1/metrics/SubmitMetrics.ts
  examples/v1/metrics/SubmitMetrics_2203981258.ts
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.ts
  examples/v1/service-level-objective-corrections/CreateSLOCorrection_1326388368.ts
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.ts
  examples/v1/snapshots/GetGraphSnapshot.ts
Due: none

Regenerate client from commit fa551a3 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/v2/Key-Management_993906607/Create-an-Application-key-with-scopes-for-current-user-returns-Created-response_2462478125/frozen.json
  cassettes/v2/Key-Management_993906607/Create-an-Application-key-with-scopes-for-current-user-returns-Created-response_2462478125/recording.har
  cassettes/v2/Service-Accounts_4018121712/Create-an-application-key-with-scopes-for-this-service-account-returns-Created-response_3868464705/frozen.json
  cassettes/v2/Service-Accounts_4018121712/Create-an-application-key-with-scopes-for-this-service-account-returns-Created-response_3868464705/recording.har
  docs/v2/KeyManagementApi.md
  docs/v2/ServiceAccountsApi.md
  examples/v2/key-management/CreateCurrentUserApplicationKey_3383369233.ts
  examples/v2/key-management/UpdateCurrentUserApplicationKey.ts
  examples/v2/service-accounts/CreateServiceAccountApplicationKey_3480494373.ts
  features/v2/key_management.feature
  features/v2/service_accounts.feature
  packages/datadog-api-client-v2/models/ApplicationKeyCreateAttributes.ts
  packages/datadog-api-client-v2/models/ApplicationKeyUpdateAttributes.ts
  packages/datadog-api-client-v2/models/FullApplicationKeyAttributes.ts
  packages/datadog-api-client-v2/models/PartialApplicationKeyAttributes.ts
Due: generated, generated-features, generate

Regenerate client from commit 861a3c0 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Usage-Metering_938753175/Get-Hourly-Usage-Attribution-returns-OK-response_2500460008/frozen.json
  cassettes/v1/Usage-Metering_938753175/Get-Hourly-Usage-Attribution-returns-OK-response_2500460008/recording.har
  docs/v1/UsageMeteringApi.md
  examples/v1/usage-metering/GetHourlyUsageAttribution.ts
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/HourlyUsageAttributionBody.ts
  packages/datadog-api-client-v1/models/HourlyUsageAttributionMetadata.ts
  packages/datadog-api-client-v1/models/HourlyUsageAttributionPagination.ts
  packages/datadog-api-client-v1/models/HourlyUsageAttributionResponse.ts
  packages/datadog-api-client-v1/models/HourlyUsageAttributionUsageType.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit 2f072b0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-with-type-workload_security-returns-OK-response_733244223/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-with-type-workload_security-returns-OK-response_733244223/recording.har
  docs/v2/SecurityMonitoringApi.md
  examples/v2/security-monitoring/CreateSecurityMonitoringRule_498211763.ts
  features/v2/security_monitoring.feature
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleQuery.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleQueryCreate.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuntimeAgentRule.ts
Due: generated, generated-features, generate

Reduce number of lints
  .eslintrc.js
  .generator/templates/auth/auth.mustache
  .generator/templates/configuration.mustache
  .generator/templates/http/http.mustache
  .generator/templates/http/servers.mustache
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

Regenerate client from commit 7b8392b of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageRumSessionsHour.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated, generate

upgrade pollyjs
  yarn.lock
Due: none

Create a type for the data structure
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

Rename
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

Regenerate client from commit 4c3cdd2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Dashboards_1335235736/Get-a-dashboard-returns-author_name_2036188770/frozen.json
  cassettes/v1/Dashboards_1335235736/Get-a-dashboard-returns-author_name_2036188770/recording.har
  examples/v1/dashboards/GetDashboard_4262333854.ts
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/Dashboard.ts
Due: generated, generated-features, generate
