Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Regenerate client from commit b9a2b4b of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsTestConfig.ts
  packages/datadog-api-client-v1/models/SyntheticsTestOptions.ts
  packages/datadog-api-client-v1/models/SyntheticsTickInterval.ts
Due: generated, generated-features

Regenerate client from commit 8176bfc of spec repo
  .apigentools-info
  features/v1/service_level_objective_corrections.feature
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
Due: generated, generated-features

[BUG] [typescript] Duplicate parameter's names (rename options to _options and config to _config) (#9428)
  .generator/templates/api/api.mustache
  .generator/templates/types/ObservableAPI.mustache
  .generator/templates/types/PromiseAPI.mustache
Due: none

Regenerate client from commit 8d8238a of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageAttributionSupportedMetrics.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Add cassettes
  cassettes/v1/Notebooks_2013965385/Create-a-notebook-returns-OK-response_634772673/frozen.json
  cassettes/v1/Notebooks_2013965385/Delete-a-notebook-returns-Not-Found-response_3421712013/frozen.json
  cassettes/v1/Notebooks_2013965385/Delete-a-notebook-returns-Not-Found-response_3421712013/recording.har
  cassettes/v1/Notebooks_2013965385/Delete-a-notebook-returns-OK-response_698724172/frozen.json
  cassettes/v1/Notebooks_2013965385/Delete-a-notebook-returns-OK-response_698724172/recording.har
  cassettes/v1/Notebooks_2013965385/Get-a-notebook-returns-OK-response_2802148123/frozen.json
  cassettes/v1/Notebooks_2013965385/Get-a-notebook-returns-OK-response_2802148123/recording.har
  cassettes/v1/Notebooks_2013965385/Get-all-notebooks-returns-OK-response_94359028/frozen.json
  cassettes/v1/Notebooks_2013965385/Get-all-notebooks-returns-OK-response_94359028/recording.har
  cassettes/v1/Notebooks_2013965385/Update-a-notebook-returns-OK-response_492967446/frozen.json
  cassettes/v1/Notebooks_2013965385/Update-a-notebook-returns-OK-response_492967446/recording.har
Due: none

Fix fixtures, re-record
  cassettes/v1/Notebooks_2013965385/Create-a-notebook-returns-OK-response_634772673/frozen.json
  cassettes/v1/Notebooks_2013965385/Create-a-notebook-returns-OK-response_634772673/recording.har
  cassettes/v1/Notebooks_2013965385/Update-a-notebook-returns-OK-response_492967446/frozen.json
  cassettes/v1/Notebooks_2013965385/Update-a-notebook-returns-OK-response_492967446/recording.har
  features/support/templating.ts
Due: none

[K9] Update cassettes
  cassettes/v2/Security-Monitoring_1187227211/Create-a-security-filter-returns-OK-response_936716052/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Create-a-security-filter-returns-OK-response_936716052/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Delete-a-security-filter-returns-No-Content-response_1407976675/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Delete-a-security-filter-returns-No-Content-response_1407976675/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Get-a-security-filter-returns-OK-response_2584323750/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Get-a-security-filter-returns-OK-response_2584323750/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Get-all-security-filters-returns-OK-response_358816047/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Get-all-security-filters-returns-OK-response_358816047/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Update-a-security-filter-returns-OK-response_945533541/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Update-a-security-filter-returns-OK-response_945533541/recording.har
Due: none

[K9] Update cassettes
  cassettes/v2/Security-Monitoring_1187227211/Create-a-security-filter-returns-OK-response_936716052/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Delete-a-security-filter-returns-No-Content-response_1407976675/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Get-a-security-filter-returns-OK-response_2584323750/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Update-a-security-filter-returns-OK-response_945533541/recording.har
Due: none

Added api_doc templates and check-examples scripts
  .generator/templates/api_doc.mustache
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Due: none

Regenerate client from commit 3445859 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/DowntimeChild.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit b30ab78 of spec repo
  .apigentools-info
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/models/UsageAttributionPagination.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit cc429de of spec repo
  .apigentools-info
  features/v1/service_checks.feature
Due: generated-features

Regenerate client from commit 8dce4be of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariableValue.ts
Due: generated, generated-features

Regenerate client from commit a1af0e0 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/WidgetCustomLink.ts
Due: generated

Regenerate client from commit e34c19d of spec repo
  .apigentools-info
  features/v2/given.json
  features/v2/security_monitoring.feature
  features/v2/undo.json
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/SecurityFilter.ts
  packages/datadog-api-client-v2/models/SecurityFilterAttributes.ts
  packages/datadog-api-client-v2/models/SecurityFilterCreateAttributes.ts
  packages/datadog-api-client-v2/models/SecurityFilterCreateData.ts
  packages/datadog-api-client-v2/models/SecurityFilterCreateRequest.ts
  packages/datadog-api-client-v2/models/SecurityFilterDeleteResponse.ts
  packages/datadog-api-client-v2/models/SecurityFilterExclusionFilter.ts
  packages/datadog-api-client-v2/models/SecurityFilterExclusionFilterResponse.ts
  packages/datadog-api-client-v2/models/SecurityFilterFilteredDataType.ts
  packages/datadog-api-client-v2/models/SecurityFilterMeta.ts
  packages/datadog-api-client-v2/models/SecurityFilterResponse.ts
  packages/datadog-api-client-v2/models/SecurityFilterType.ts
  packages/datadog-api-client-v2/models/SecurityFilterUpdateAttributes.ts
  packages/datadog-api-client-v2/models/SecurityFilterUpdateData.ts
  packages/datadog-api-client-v2/models/SecurityFilterUpdateRequest.ts
  packages/datadog-api-client-v2/models/SecurityFiltersResponse.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features

fix api key (#9476)
  .generator/templates/auth/auth.mustache
Due: none

add OAuth2 to typescript template (#9466)
  .generator/templates/auth/auth.mustache
Due: none

Regenerate client from commit cd769d5 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/MonitorOptions.ts
Due: generated

Don't build draft PRs
  .azure-pipelines/all.yml
Due: none

Don't build draft PRs (#135)
  .azure-pipelines/all.yml
Due: none

Regenerate client from commit ccb4b9f of spec repo
  .apigentools-info
  features/v2/incidents.feature
  packages/datadog-api-client-v2/models/IncidentIntegrationMetadataType.ts
  packages/datadog-api-client-v2/models/RelationshipToIncidentIntegrationMetadataData.ts
Due: generated, generated-features

Regenerate client from commit f6cf0e5 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/NotebookCreateDataAttributes.ts
  packages/datadog-api-client-v1/models/NotebookDistributionCellAttributes.ts
  packages/datadog-api-client-v1/models/NotebookHeatMapCellAttributes.ts
  packages/datadog-api-client-v1/models/NotebookLogStreamCellAttributes.ts
  packages/datadog-api-client-v1/models/NotebookMarkdownCellAttributes.ts
  packages/datadog-api-client-v1/models/NotebookResponseDataAttributes.ts
  packages/datadog-api-client-v1/models/NotebookTimeseriesCellAttributes.ts
  packages/datadog-api-client-v1/models/NotebookToplistCellAttributes.ts
  packages/datadog-api-client-v1/models/NotebooksResponse.ts
  packages/datadog-api-client-v1/models/NotebooksResponseData.ts
  packages/datadog-api-client-v1/models/NotebooksResponseDataAttributes.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 12e8b3e of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/MetricsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 63cdfda of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/Dashboard.ts
Due: generated

added example generation scripts, updated api_doc template
  .generator/templates/api_doc.mustache
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Due: none

Regenerate client from commit c413ebe of spec repo
  .apigentools-info
  features/v1/monitors.feature
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/models/Monitor.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

fixed camel and slug functions in awk script
  check-examples.sh
  extract-code-blocks.awk
Due: none

ignore examples folder
  .gitignore
Due: none

generate docs and examples
  .generator/templates/api_doc.mustache
  .gitignore
  check-examples.sh
  extract-code-blocks.awk
  extract-code-blocks.sh
Due: none

Regenerate client from commit 4ffe2b5 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageAttributionBody.ts
Due: generated

Improve README
  README.md
Due: none

Improve README (#145)
  README.md
Due: none

Add cassettes
  cassettes/v1/Monitors_4022238206/Monitors-group-search-returns-Bad-Request-response_3078982749/frozen.json
  cassettes/v1/Monitors_4022238206/Monitors-group-search-returns-Bad-Request-response_3078982749/recording.har
  cassettes/v1/Monitors_4022238206/Monitors-group-search-returns-OK-response_122944417/frozen.json
  cassettes/v1/Monitors_4022238206/Monitors-group-search-returns-OK-response_122944417/recording.har
  cassettes/v1/Monitors_4022238206/Monitors-search-returns-Bad-Request-response_4188822374/frozen.json
  cassettes/v1/Monitors_4022238206/Monitors-search-returns-Bad-Request-response_4188822374/recording.har
  cassettes/v1/Monitors_4022238206/Monitors-search-returns-OK-response_3797395820/frozen.json
  cassettes/v1/Monitors_4022238206/Monitors-search-returns-OK-response_3797395820/recording.har
Due: none

Replace AZP with github actions
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

changed body to params in api_doc
  .generator/templates/api_doc.mustache
Due: none

Remove param args for endpoints without params
  .generator/templates/api_doc.mustache
  .generator/templates/types/ObjectParamAPI.mustache
Due: none

fix additional space in ObjectParamAPI
  .generator/templates/types/ObjectParamAPI.mustache
Due: none

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
