Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

Re-record
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/recording.har
Due: none

Re-record
  cassettes/v1/Logs_1370058150/Send-logs-returns-Response-from-server-always-200-empty-JSON-response_3987203815/frozen.json
  cassettes/v1/Logs_1370058150/Send-logs-returns-Response-from-server-always-200-empty-JSON-response_3987203815/recording.har
Due: none

Reduce timestamp precision
  features/support/vcr.ts
Due: none

Reduce timestamp precision in fixture (#87)
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/recording.har
  features/support/vcr.ts
Due: none

cassettes
  cassettes/v1/Dashboards_1335235736/Get-all-dashboards-returns-OK-response_3655442247/frozen.json
  cassettes/v1/Dashboards_1335235736/Get-all-dashboards-returns-OK-response_3655442247/recording.har
Due: none

Regenerate client from commit 2c91a1d of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/GroupWidgetDefinition.ts
Due: generated

Regenerate client from commit 007165a of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
Due: generated

Regenerate client from commit ed46f8d of spec repo
  .apigentools-info
  features/v1/dashboards.feature
  features/v1/given.json
  packages/datadog-api-client-v1/apis/DashboardsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Fix dashboard cassette
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/recording.har
Due: none

Fix precision on hour later/ago as well.
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/recording.har
  features/support/vcr.ts
Due: none

Regenerate client from commit be37d31 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Fix dashboard cassette (#92)
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/recording.har
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/recording.har
  features/support/vcr.ts
Due: none

Regenerate client from commit b493166 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit bc7eaeb of spec repo
  .apigentools-info
  features/v1/aws_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/synthetics.feature
  features/v1/users.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/logs.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
Due: generated-features

cassettes
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Create-an-SLO-correction-returns-OK-response_133519554/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Create-an-SLO-correction-returns-OK-response_133519554/recording.har
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-all-SLO-corrections-returns-OK-response_2844900763/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-all-SLO-corrections-returns-OK-response_2844900763/recording.har
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Update-an-SLO-correction-returns-OK-response_2408578707/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Update-an-SLO-correction-returns-OK-response_2408578707/recording.har
Due: none

Regenerate client from commit fa07bf6 of spec repo
  .apigentools-info
  features/v1/service_level_objective_corrections.feature
Due: generated-features

Regenerate client from commit cb2432f of spec repo
  .apigentools-info
  features/v2/metrics.feature
Due: generated-features

Re-record
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/frozen.json
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/recording.har
Due: none

Regenerate client from commit 32aaa94 of spec repo
  .apigentools-info
  features/v1/metrics.feature
Due: generated-features

Regenerate client from commit 9430c32 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 4463f95 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/DistributionWidgetDefinition.ts
  packages/datadog-api-client-v1/models/DistributionWidgetXAxis.ts
  packages/datadog-api-client-v1/models/DistributionWidgetYAxis.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/WidgetMarker.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit e26c7dd of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageHostHour.ts
  packages/datadog-api-client-v1/models/UsageIoTHour.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated

Regenerate client from commit ff4efbb of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit ed1fc39 of spec repo
  .apigentools-info
  features/v2/metrics.feature
Due: generated-features

Regenerate client from commit d50fc5a of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsAPITest.ts
  packages/datadog-api-client-v1/models/SyntheticsAssertionJSONPathTarget.ts
  packages/datadog-api-client-v1/models/SyntheticsAssertionTarget.ts
  packages/datadog-api-client-v1/models/SyntheticsAssertionType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestDetails.ts
  packages/datadog-api-client-v1/models/SyntheticsTestDetailsSubType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated, generated-features

Regenerate client from commit 6b0114c of spec repo
  .apigentools-info
  features/v1/dashboard_payload.json
  features/v1/given.json
Due: none

Regenerate client from commit 088737f of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/models/MetricTagConfigurationAttributes.ts
  packages/datadog-api-client-v2/models/MetricTagConfigurationCreateAttributes.ts
  packages/datadog-api-client-v2/models/MetricTagConfigurationMetricTypes.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 75ca6ae of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/DashboardReflowType.ts
  packages/datadog-api-client-v1/models/GroupWidgetDefinition.ts
  packages/datadog-api-client-v1/models/ImageWidgetDefinition.ts
  packages/datadog-api-client-v1/models/NoteWidgetDefinition.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/Widget.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
  packages/datadog-api-client-v1/models/WidgetHorizontalAlign.ts
  packages/datadog-api-client-v1/models/WidgetImageSizing.ts
  packages/datadog-api-client-v1/models/WidgetLayout.ts
  packages/datadog-api-client-v1/models/WidgetVerticalAlign.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 93dbed8 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/EventsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Add new body step from file
  features/step_definitions/request_steps.ts
Due: none

Regenerate client from commit ac83bf0 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SLOListResponse.ts
  packages/datadog-api-client-v1/models/SLOListResponseMetadata.ts
  packages/datadog-api-client-v1/models/SLOListResponseMetadataPage.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 88ccf9e of spec repo
  .apigentools-info
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v1/azure_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_checks.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/users.feature
Due: generated-features

Regenerate client from jirikuncar/simple-merge of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 9d22381 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsAPIStep.ts
  packages/datadog-api-client-v1/models/SyntheticsBrowserTestConfig.ts
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated, generated-features

Regenerate client from commit eaa0782 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SLOResponse.ts
  packages/datadog-api-client-v1/models/SLOResponseData.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit b2e3154 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsTestOptions.ts
Due: generated

Regenerate client from commit 52e5730 of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleDetectionMethod.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleOptions.ts
Due: generated

Regenerate client from commit dcadb1c of spec repo
  .apigentools-info
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/LogsByRetention.ts
  packages/datadog-api-client-v1/models/LogsByRetentionMonthlyUsage.ts
  packages/datadog-api-client-v1/models/LogsByRetentionOrgUsage.ts
  packages/datadog-api-client-v1/models/LogsByRetentionOrgs.ts
  packages/datadog-api-client-v1/models/LogsRetentionAggSumUsage.ts
  packages/datadog-api-client-v1/models/LogsRetentionSumUsage.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageLogsByRetentionHour.ts
  packages/datadog-api-client-v1/models/UsageLogsByRetentionResponse.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
