Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

add link to ci-app reports
  features/step_definitions/request_steps.ts
Due: none

Only output ci-app links when they are valid
  features/step_definitions/request_steps.ts
Due: none

Regenerate client from commit 74992c1 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated

Regenerate client from commit 904c411 of spec repo
  .apigentools-info
  features/v1/snapshots.feature
Due: generated-features

Regenerate client from commit 6ddcc8e of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/snapshots.feature
  packages/datadog-api-client-v1/models/SyntheticsAPITestConfig.ts
  packages/datadog-api-client-v1/models/SyntheticsAssertionTarget.ts
  packages/datadog-api-client-v1/models/SyntheticsCIBatchMetadataGit.ts
Due: generated, generated-features, generate

Regenerate client from commit 084ca04 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageNetworkFlowsHour.ts
Due: generated, generate

Regenerate client from commit fabbc01 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit c588c56 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-formulas-and-functions-change-widget_2972377494/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-formulas-and-functions-change-widget_2972377494/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/ChangeWidgetRequest.ts
Due: generated, generated-features, generate

Regenerate client from commit cbb6f12 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsageMeteringApi.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageRumUnitsHour.ts
  packages/datadog-api-client-v1/models/UsageRumUnitsResponse.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit 2b850b7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Synthetics_2658572017/Trigger-some-Synthetics-tests-returns-OK-response_3057428528/frozen.json
  cassettes/v1/Synthetics_2658572017/Trigger-some-Synthetics-tests-returns-OK-response_3057428528/recording.har
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsTriggerBody.ts
  packages/datadog-api-client-v1/models/SyntheticsTriggerTest.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit ec0039a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response_1434658924/frozen.json
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-with-UDP-subtype-returns-OK-Returns-the-created-test-details-response_1434658924/recording.har
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_udp_payload.json
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsAssertionType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestDetailsSubType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated, generated-features, generate

Remove old models before generation
  Makefile
Due: none

Remove old models before generation (#370)
  Makefile
Due: none

Regenerate client from commit 3b593f9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-with-WEBSOCKET-subtype-returns-OK-Returns-the-created-test-details-res_4280757160/frozen.json
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-with-WEBSOCKET-subtype-returns-OK-Returns-the-created-test-details-res_4280757160/recording.har
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_websocket_payload.json
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsTestDetailsSubType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated, generated-features, generate

Regenerate client from commit fabf585 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageFargateHour.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated, generate

Regenerate client from commit fce8d3b of spec repo
  .apigentools-info
  features/v1/hosts.feature
Due: generated-features

Regenerate client from commit b4edd57 of spec repo
  .apigentools-info
  features/v1/hosts.feature
Due: generated-features

Regenerate client from commit 27830cd of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/MonitorType.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
Due: generated, generate

ci: submit JUnit reports
  .github/workflows/test.yml
  .gitignore
  package.json
  yarn.lock
Due: none

Add tags
  .github/workflows/test.yml
Due: none

Regenerate client from commit f1dce60 of spec repo
  .apigentools-info
  features/v1/authentication.feature
Due: generated-features

Regenerate client from commit 7d4329a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit ddc1872 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/EventCreateRequest.ts
Due: generated, generate

package: bump dd-trace-js
  package.json
  yarn.lock
Due: none

Throw error on invalid data
  features/step_definitions/request_steps.ts
Due: none

Regenerate client from commit a3413fa of spec repo
  .apigentools-info
  cassettes/v2/Logs_1370058150/Search-logs-returns-OK-response_3514533342/frozen.json
  cassettes/v2/Logs_1370058150/Search-logs-returns-OK-response_3514533342/recording.har
  features/v2/logs.feature
Due: generated-features

package: bump dd-trace-js (#384)
  package.json
  yarn.lock
Due: none

examples: avoid import rewrites
  check-examples.sh
  examples/tsconfig.json
  tsconfig.json
Due: none

examples: avoid import rewrites (#385)
  check-examples.sh
  examples/tsconfig.json
  tsconfig.json
Due: none

move AfterAll hook to hooks file
  features/step_definitions/request_steps.ts
  features/support/hooks.ts
Due: none

use logger
  features/support/hooks.ts
Due: none

Regenerate client from commit 4ce4b9f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/MonitorSearchResult.ts
Due: generated, generate

tests: make sure that all traces have been sent
  .gitignore
  cucumber.js
  features/step_definitions/request_steps.ts
  features/support/hooks.ts
Due: none

Regenerate client from commit acfdbc7 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/SyntheticsBrowserVariable.ts
Due: generated, generate

Regenerate client from commit c0e7143 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Downtimes_1733580485/Schedule-a-monitor-downtime-returns-OK-response_2204609008/frozen.json
  cassettes/v1/Downtimes_1733580485/Schedule-a-monitor-downtime-returns-OK-response_2204609008/recording.har
  cassettes/v1/Monitors_4022238206/Check-if-a-monitor-can-be-deleted-returns-OK-response_1378900457/recording.har
  cassettes/v1/Monitors_4022238206/Delete-a-monitor-returns-OK-response_4170020273/recording.har
  cassettes/v1/Monitors_4022238206/Edit-a-monitor-returns-OK-response_829971522/recording.har
  cassettes/v1/Monitors_4022238206/Get-a-monitor-s-details-returns-OK-response_3416600972/recording.har
  cassettes/v1/Monitors_4022238206/Validate-a-monitor-returns-OK-response_1413713288/recording.har
  features/v1/given.json
  features/v1/monitor_payload.json
  packages/datadog-api-client-v1/models/MonitorOptions.ts
Due: generated, generate

use loglevel for error logging
  features/support/hooks.ts
Due: none

Regenerate client from commit 765200a of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageFargateHour.ts
  packages/datadog-api-client-v1/models/UsageSDSHour.ts
Due: generated, generate

Regenerate client from commit 71029a4 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Service-Level-Objectives_139838558/Get-Corrections-For-an-SLO-returns-OK-response_1683220814/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Get-Corrections-For-an-SLO-returns-OK-response_1683220814/recording.har
  docs/v1/ServiceLevelObjectivesApi.md
  features/v1/service_level_objectives.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SLOCorrectionResponseAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionResponseAttributesModifier.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit fdabc88 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Synthetics_2658572017/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response_1783012467/frozen.json
  cassettes/v1/Synthetics_2658572017/Create-a-browser-test-returns-OK-Returns-the-created-test-details-response_1783012467/recording.har
  features/v1/synthetics.feature
  features/v1/synthetics_browser_test_payload.json
  features/v1/undo.json
Due: generated-features, generate

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  generate: any of: ^.generator/.*
