Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^packages/datadog-api-client-v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

update endpoints methods without parameters
  .generator/templates/services/ObjectParamAPI.mustache
  .generator/templates/types/ObjectParamAPI.mustache
  .generator/templates/types/ObservableAPI.mustache
Due: none

localhost for agent
  .github/workflows/test_integration.yml
Due: none

fix scheduled workflow
  .github/workflows/test_integration.yml
Due: none

single quote
  .github/workflows/test_integration.yml
Due: none

Replace AZP with github actions (#147)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Due: none

fix integration tests job name
  .github/workflows/test_integration.yml
Due: none

fix integration tests job name (#150)
  .github/workflows/test_integration.yml
Due: none

Regenerate client from commit 2c887a0 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/Dashboard.ts
Due: generated

Regenerate client from commit 0167d3f of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  features/v1/monitors.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/MonitorGroupSearchResponse.ts
  packages/datadog-api-client-v1/models/MonitorGroupSearchResponseCounts.ts
  packages/datadog-api-client-v1/models/MonitorGroupSearchResult.ts
  packages/datadog-api-client-v1/models/MonitorSearchResponse.ts
  packages/datadog-api-client-v1/models/MonitorSearchResponseCounts.ts
  packages/datadog-api-client-v1/models/MonitorSearchResponseMetadata.ts
  packages/datadog-api-client-v1/models/MonitorSearchResult.ts
  packages/datadog-api-client-v1/models/MonitorSearchResultNotification.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 8c512ec of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  features/v1/monitors.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/MonitorGroupSearchResponse.ts
  packages/datadog-api-client-v1/models/MonitorGroupSearchResponseCounts.ts
  packages/datadog-api-client-v1/models/MonitorGroupSearchResult.ts
  packages/datadog-api-client-v1/models/MonitorSearchResponse.ts
  packages/datadog-api-client-v1/models/MonitorSearchResponseCounts.ts
  packages/datadog-api-client-v1/models/MonitorSearchResponseMetadata.ts
  packages/datadog-api-client-v1/models/MonitorSearchResult.ts
  packages/datadog-api-client-v1/models/MonitorSearchResultNotification.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 5311d4c of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsAPITestConfig.ts
  packages/datadog-api-client-v1/models/SyntheticsConfigVariable.ts
  packages/datadog-api-client-v1/models/SyntheticsConfigVariableType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestConfig.ts
Due: generated, generated-features

Make param optional
  .generator/templates/api_doc.mustache
  .generator/templates/types/ObjectParamAPI.mustache
Due: none

Regenerate client from commit 2a54e42 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsListGlobalVariablesResponse.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Prepare release
  CHANGELOG.md
  RELEASING.md
  package.json
Due: none

Prepare release (#159)
  CHANGELOG.md
  RELEASING.md
  package.json
Due: none

Use npmName in examples
  .generator/templates/api_doc.mustache
  check-examples.sh
Due: none

Bump
  package.json
Due: none

Bump (#161)
  package.json
Due: none

Fix result display
  .generator/templates/api_doc.mustache
Due: none

Post integration test status to spec PR
  .github/workflows/scripts/test_integration.js
  .github/workflows/test_integration.yml
  .gitignore
Due: none

Re-record
  cassettes/v2/Logs_1370058150/Aggregate-compute-events-returns-OK-response_3862097832/frozen.json
  cassettes/v2/Logs_1370058150/Aggregate-compute-events-returns-OK-response_3862097832/recording.har
  cassettes/v2/Logs_1370058150/Aggregate-events-returns-OK-response_3657265095/frozen.json
Due: none

Regenerate client from commit ea553b9 of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageAuditLogsHour.ts
  packages/datadog-api-client-v1/models/UsageAuditLogsResponse.ts
  packages/datadog-api-client-v1/models/UsageCloudSecurityPostureManagementHour.ts
  packages/datadog-api-client-v1/models/UsageCloudSecurityPostureManagementResponse.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 6c05087 of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
  packages/datadog-api-client-v1/models/UsageCWSHour.ts
  packages/datadog-api-client-v1/models/UsageCWSResponse.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 379360f of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 32f7494 of spec repo
  .apigentools-info
  docs/v2/SecurityMonitoringApi.md
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

Regenerate client from commit eb061ac of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Add files directive
  package.json
Due: none

Regenerate client from commit b3fffea of spec repo
  .apigentools-info
  features/v2/logs.feature
Due: generated-features

Regenerate client from commit 9151896 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageTopAvgMetricsMetadata.ts
Due: generated

Add workflow for PR approved
  .github/workflows/approved_status.yml
  .github/workflows/scripts/approved_status.js
Due: none

Regenerate client from commit 6fd1064 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit e6c8320 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsTestOptions.ts
Due: generated, generated-features

Prepare release
  CHANGELOG.md
  package.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Skip approved status workflow on non generated branches
  .github/workflows/approved_status.yml
Due: none
