Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^packages/datadog-api-client-v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

bump dd-trace-js
  package.json
Due: none

commit lock file
  .gitignore
  package-lock.json
Due: none

Fix testing
  Dockerfile.test.v1
  package.json
  run-tests.sh
Due: none

userAgent and version
  version.ts
Due: none

Dockerfile.test
  Dockerfile.test
Due: none

headers
  features/support/vcr.ts
Due: none

cassettes/
  cassettes/v2/Incident-Services_2491127861/Get-a-list-of-all-incident-services-returns-OK-response_3464332254/frozen.json
  cassettes/v2/Incident-Services_2491127861/Get-a-list-of-all-incident-services-returns-OK-response_3464332254/recording.har
  cassettes/v2/Incident-Teams_1730755821/Get-details-of-an-incident-team-returns-OK-response_1265206852/frozen.json
  cassettes/v2/Incident-Teams_1730755821/Get-details-of-an-incident-team-returns-OK-response_1265206852/recording.har
  cassettes/v2/Roles_1048039038/List-permissions-for-a-role-returns-OK-response_2068073653/frozen.json
  cassettes/v2/Roles_1048039038/List-permissions-for-a-role-returns-OK-response_2068073653/recording.har
Due: none

cassettes
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/frozen.json
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/recording.har
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/frozen.json
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/recording.har
Due: none

record=false
  features/support/vcr.ts
Due: none

features
  features/support/hooks.ts
  features/support/undo.ts
  features/support/vcr.ts
  features/support/world.ts
Due: none

Fix distributed traces
  packages/datadog-api-client-v1/http/isomorphic-fetch.ts
  packages/datadog-api-client-v2/http/isomorphic-fetch.ts
Due: generated

dd-trace/init
  cucumber.js
  features/support/tracer.ts
Due: none

Revert "Fix distributed traces"
  packages/datadog-api-client-v1/http/isomorphic-fetch.ts
  packages/datadog-api-client-v2/http/isomorphic-fetch.ts
Due: generated

add x-datadog-* headers
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/frozen.json
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/recording.har
  features/support/tracer.ts
  features/support/vcr.ts
Due: none

replace tab with spaces, minor code format change (#8775)
  api/api.mustache
  api/exception.mustache
  api/middleware.mustache
  http/http.mustache
  http/jquery.mustache
  http/servers.mustache
  tsconfig.mustache
  types/ObjectParamAPI.mustache
  types/ObservableAPI.mustache
  types/PromiseAPI.mustache
  util.mustache
Due: none

replace tab with spaces, minor code format change (#8775)
  .generator/templates/api/api.mustache
  .generator/templates/api/exception.mustache
  .generator/templates/api/middleware.mustache
  .generator/templates/http/http.mustache
  .generator/templates/http/jquery.mustache
  .generator/templates/http/servers.mustache
  .generator/templates/tsconfig.mustache
  .generator/templates/types/ObjectParamAPI.mustache
  .generator/templates/types/ObservableAPI.mustache
  .generator/templates/types/PromiseAPI.mustache
  .generator/templates/util.mustache
Due: none

Regenerate client from commit f5b1c64 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/servers.ts
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/servers.ts
Due: generated

Regenerate client from commit 11611e4 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/models/MonitorType.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

reduce test matrix
  .github/workflows/test.yml
Due: none

Regenerate client from commit ab657a6 of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleDetectionMethod.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleNewValueOptions.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleNewValueOptionsForgetAfter.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleNewValueOptionsLearningDuration.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleOptions.ts
  packages/datadog-api-client-v2/models/all.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

LICENSE-3rdparty
  LICENSE-3rdparty.csv
  bin/check-licenses.js
  package.json
  run-tests.sh
Due: none

exclude features
  tsconfig.json
Due: none

remove internal package configurations
  packages/datadog-api-client-v1/.gitignore
  packages/datadog-api-client-v1/.openapi-generator-ignore
  packages/datadog-api-client-v1/git_push.sh
  packages/datadog-api-client-v1/package.json
  packages/datadog-api-client-v1/tsconfig.json
  packages/datadog-api-client-v2/.gitignore
  packages/datadog-api-client-v2/.openapi-generator-ignore
  packages/datadog-api-client-v2/git_push.sh
  packages/datadog-api-client-v2/package.json
  packages/datadog-api-client-v2/tsconfig.json
Due: generated

move to yarn
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  CHANGELOG.md
  DEVELOPMENT.md
  NOTICE
  README.md
  RELEASING.md
  SUPPORT.md
  package-lock.json
  package.json
  run-tests.sh
  yarn.lock
Due: none

wrap cucumber.js command
  bin/dd-cucumber-js
  cucumber.js
  features/support/tracer.ts
  package.json
Due: none

ts-node
  LICENSE-3rdparty.csv
Due: none

features + exit
  package.json
  run-tests.sh
Due: none

dd-trace/init?
  cucumber.js
Due: none

distributed traces
  features/support/tracer.ts
  package.json
Due: none

releasing
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  RELEASING.md
Due: none

polly.disconnect()
  features/support/vcr.ts
Due: none

Regenerate client from commit 0e18234 of spec repo
  .apigentools-info
  features/v1/slack_integration.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/SlackIntegrationApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SlackIntegrationChannel.ts
  packages/datadog-api-client-v1/models/SlackIntegrationChannelDisplay.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 960dc55 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryDefinitionCompute.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryDefinitionSearch.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryGroupBy.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryGroupBySort.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionMetricQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionProcessQueryDefinition.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated
