Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generated
        name: Do not commit generated files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^packages/datadog-api-client-v[1-9].*"
        verbose: true
      - id: generated-features
        name: Do not commit generated feature files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^features/v[1-9][0-9]*/.*.feature$"
        verbose: true
      - id: generate
        name: Generate
        language: node
        entry: make
        files: "^.generator/.*"
        pass_filenames: false
      - id: lint
        name: Lint
        language: node
        entry: yarn run lint:fix
        stages: [manual]
        pass_filenames: false

Remove unused cassettes
  features/support/vcr.ts
Due: none

Regenerate client from commit 8f861f2 of spec repo
  .apigentools-info
  cassettes/v2/Logs_1370058150/Get-a-list-of-logs-returns-OK-response_2386565474/frozen.json
  cassettes/v2/Logs_1370058150/Get-a-list-of-logs-returns-OK-response_2386565474/recording.har
  cassettes/v2/Metrics_2046978582/Create-a-tag-configuration-returns-Created-response_1715119794/frozen.json
  cassettes/v2/Metrics_2046978582/Create-a-tag-configuration-returns-Created-response_1715119794/recording.har
  cassettes/v2/Metrics_2046978582/Delete-a-tag-configuration-returns-No-Content-response_1527232065/frozen.json
  cassettes/v2/Metrics_2046978582/Delete-a-tag-configuration-returns-No-Content-response_1527232065/recording.har
  cassettes/v2/Metrics_2046978582/List-distinct-metric-volumes-by-metric-name-returns-Success-response_3043563941/frozen.json
  cassettes/v2/Metrics_2046978582/List-distinct-metric-volumes-by-metric-name-returns-Success-response_3043563941/recording.har
  cassettes/v2/Metrics_2046978582/List-tag-configuration-by-name-returns-Success-response_2842152424/frozen.json
  cassettes/v2/Metrics_2046978582/List-tag-configuration-by-name-returns-Success-response_2842152424/recording.har
  cassettes/v2/Metrics_2046978582/List-tag-configurations-returns-Success-response_2190854565/frozen.json
  cassettes/v2/Metrics_2046978582/List-tag-configurations-returns-Success-response_2190854565/recording.har
  cassettes/v2/Metrics_2046978582/List-tags-by-metric-name-returns-Success-response_86181601/frozen.json
  cassettes/v2/Metrics_2046978582/List-tags-by-metric-name-returns-Success-response_86181601/recording.har
  cassettes/v2/Metrics_2046978582/Update-a-tag-configuration-returns-OK-response_3416417835/frozen.json
  cassettes/v2/Metrics_2046978582/Update-a-tag-configuration-returns-OK-response_3416417835/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Delete-a-non-existing-rule-returns-Not-Found-response_2248933062/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Delete-a-non-existing-rule-returns-Not-Found-response_2248933062/recording.har
Due: none

Change mediatype handling, store error responses
  .generator/templates/model/ObjectSerializer.mustache
  features/step_definitions/request_steps.ts
Due: generate

Regenerate client from commit 388700d of spec repo
  .apigentools-info
  examples/v2/roles/AddPermissionToRole.ts
  examples/v2/roles/AddUserToRole.ts
  examples/v2/roles/CreateRole.ts
  examples/v2/roles/RemovePermissionFromRole.ts
  examples/v2/roles/RemoveUserFromRole.ts
Due: none

Regenerate client from commit 60c6582 of spec repo
  .apigentools-info
  cassettes/v1/Events_3416228/Post-an-event-in-the-past-returns-Bad-Request-response_3246443050/frozen.json
  cassettes/v1/Events_3416228/Post-an-event-in-the-past-returns-Bad-Request-response_3246443050/recording.har
  features/v1/events.feature
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated, generated-features

fix condition
  features/support/vcr.ts
Due: none

Enable pre-commit hook in CI
  .github/workflows/pre-commit.yml
  Makefile
Due: none

Implement support for unstable operations
  .generator/templates/api/api.mustache
  .generator/templates/configuration.mustache
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/undo.ts
  features/support/world.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v2/apis/IncidentServicesApi.ts
  packages/datadog-api-client-v2/apis/IncidentTeamsApi.ts
  packages/datadog-api-client-v2/apis/IncidentsApi.ts
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/configuration.ts
Due: generated, generate

Regenerate client from commit 08c86e2 of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-returns-OK-response_4257835906/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-returns-OK-response_4257835906/recording.har
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/frozen.json
  examples/v1/dashboards/CreateDashboard.ts
  features/v1/dashboards.feature
Due: generated-features

clean ci
  .github/workflows/pre-commit.yml
  .github/workflows/test.yml
Due: none

document usage of unstable operations
  README.md
Due: none

Regenerate client from commit d51b660 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/events.feature
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageAttributionSupportedMetrics.ts
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
Due: generated, generated-features, generate

Regenerate client from commit a7401b6 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Synthetics_2658572017/Trigger-Synthetics-tests-returns-OK-response_2420990830/frozen.json
  cassettes/v1/Synthetics_2658572017/Trigger-Synthetics-tests-returns-OK-response_2420990830/recording.har
  cassettes/v1/Synthetics_2658572017/Trigger-some-Synthetics-tests-returns-OK-response_3057428528/frozen.json
  docs/v1/SyntheticsApi.md
  examples/v1/synthetics/TriggerTests.ts
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit 350df8d of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Add support for unstable operations (#402)
  .generator/templates/api/api.mustache
  .generator/templates/configuration.mustache
  .github/workflows/test.yml
  Makefile
  README.md
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/undo.ts
  features/support/world.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v2/apis/IncidentServicesApi.ts
  packages/datadog-api-client-v2/apis/IncidentTeamsApi.ts
  packages/datadog-api-client-v2/apis/IncidentsApi.ts
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
  packages/datadog-api-client-v2/configuration.ts
Due: generated, generate

Throw error on invalid data (#395)
  features/step_definitions/request_steps.ts
Due: none

Regenerate client from commit 0f45cf0 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit 05b1dd5 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit d837514 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/usage_metering.feature
Due: generated-features, generate

Regenerate client from commit c8a8203 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsersApi.md
  features/v1/users.feature
  packages/datadog-api-client-v1/models/User.ts
Due: generated, generated-features, generate

Regenerate client from commit 1c2091d of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/UsersApi.md
  features/v1/users.feature
  packages/datadog-api-client-v1/models/User.ts
Due: generated, generated-features, generate

Regenerate client from commit ca97678 of spec repo
  .apigentools-info
  examples/v1/service-level-objective-corrections/CreateSLOCorrection.ts
  examples/v1/service-level-objective-corrections/GetSLOCorrection.ts
  examples/v1/service-level-objective-corrections/ListSLOCorrection.ts
  examples/v1/service-level-objective-corrections/UpdateSLOCorrection.ts
  examples/v1/service-level-objectives/GetSLOCorrections.ts
  examples/v2/incident-services/CreateIncidentService.ts
  examples/v2/incident-services/DeleteIncidentService.ts
  examples/v2/incident-services/GetIncidentService.ts
  examples/v2/incident-services/ListIncidentServices.ts
  examples/v2/incident-services/UpdateIncidentService.ts
  examples/v2/incident-teams/CreateIncidentTeam.ts
  examples/v2/incident-teams/DeleteIncidentTeam.ts
  examples/v2/incident-teams/GetIncidentTeam.ts
  examples/v2/incident-teams/ListIncidentTeams.ts
  examples/v2/incident-teams/UpdateIncidentTeam.ts
  examples/v2/incidents/CreateIncident.ts
  examples/v2/incidents/DeleteIncident.ts
  examples/v2/incidents/GetIncident.ts
  examples/v2/incidents/ListIncidents.ts
  examples/v2/incidents/UpdateIncident.ts
  examples/v2/logs/ListLogs.ts
Due: none

Regenerate client from commit df97aef of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.ts
  features/v2/logs.feature
Due: generated-features

fix: SecurityMonitoringSignal.attributes.tags type
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit 9bcd121 of spec repo
  .apigentools-info
  cassettes/v1/Monitors_4022238206/Create-a-monitor-returns-OK-response_167709438/frozen.json
  cassettes/v1/Monitors_4022238206/Create-a-monitor-returns-OK-response_167709438/recording.har
Due: none

send test.codeowners
  features/support/hooks.ts
Due: none

Regenerate client from commit 9a2238a of spec repo
  .apigentools-info
  examples/v2/logs/ListLogs.ts
  features/v2/logs.feature
Due: generated-features

Ensure `test.codeowners` tags on skipped tests
  features/support/hooks.ts
Due: none

Allow null in required field
  .generator/templates/model/ObjectSerializer.mustache
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated, generate

Allow null in required field (#421)
  .generator/templates/model/ObjectSerializer.mustache
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated, generate

Ensure `test.codeowners` tags on skipped tests (#420)
  features/support/hooks.ts
Due: none

Regenerate client from commit 0029fd5 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  docs/v2/RolesApi.md
  features/v2/roles.feature
  packages/datadog-api-client-v2/models/RoleCreateAttributes.ts
Due: generated, generated-features, generate

Regenerate client from commit 7316fb8 of spec repo
  .apigentools-info
  features/v1/monitors.feature
  features/v1/synthetics.feature
  features/v2/incidents.feature
Due: generated-features

Regenerate client from commit 15761ea of spec repo
  .apigentools-info
  features/v2/incidents.feature
Due: generated-features

Sleep after request if needed
  .github/workflows/test_integration.yml
  features/support/given.ts
  features/support/world.ts
Due: none

ms
  features/support/world.ts
Due: none

Sleep after request if needed (#432)
  .github/workflows/test_integration.yml
  features/support/given.ts
  features/support/world.ts
Due: none
