Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generate:
  name: Generate
  language: node
  entry: make
  pass_filenames: false

Regenerate client from commit 184be3f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response_460745598/frozen.json
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-with-multi-subtype-returns-OK-Returns-the-created-test-details-response_460745598/recording.har
  docs/v1/SyntheticsApi.md
  examples/v1/synthetics/CreateSyntheticsAPITest_1279271422.ts
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_multi_step_payload.json
  packages/datadog-api-client-v1/models/SyntheticsAPIStep.ts
Due: generated, generated-features, generate

Regenerate client from commit a4fe6c9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/UsageAttributionPagination.ts
Due: generated, generated-features, generate

Regenerate client from commit d72de97 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Cleanup some empty lines
  .generator/templates/api/api.mustache
  .generator/templates/model/model.mustache
Due: generate

Add method to configuration auth methods
  .generator/templates/api/api.mustache
  .generator/templates/configuration.mustache
Due: generate

Regenerate client from commit d9089b2 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageRumSessionsHour.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated, generate

Match headers
  .generator/templates/api/api.mustache
  features/support/vcr.ts
Due: generate

Regenerate client from commit 31f2832 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageRumSessionsHour.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated, generate

Regenerate client from commit 16aa0e9 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Hosts_3483037620/Get-all-hosts-with-metadata-deserializes-successfully_1831764847/frozen.json
  cassettes/v1/Hosts_3483037620/Get-all-hosts-with-metadata-deserializes-successfully_1831764847/recording.har
  cassettes/v1/Hosts_3483037620/Get-all-hosts-with-metadata-for-your-organization-returns-OK-response_2722143993/frozen.json
  cassettes/v1/Hosts_3483037620/Get-all-hosts-with-metadata-for-your-organization-returns-OK-response_2722143993/recording.har
  examples/v1/hosts/ListHosts_2975406675.ts
  examples/v1/hosts/ListHosts_347346033.ts
  features/v1/hosts.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/HostMeta.ts
  packages/datadog-api-client-v1/models/HostMetaInstallMethod.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
Due: generated, generated-features, generate

Regenerate client from commit 7c3b86d of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit cc7ebbe of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Usage-Metering_938753175/Get-Hourly-Usage-Attribution-returns-OK-response_2500460008/frozen.json
  cassettes/v1/Usage-Metering_938753175/Get-Hourly-Usage-Attribution-returns-OK-response_2500460008/recording.har
  cassettes/v1/Usage-Metering_938753175/Get-Monthly-Usage-Attribution-returns-OK-response_2297145442/frozen.json
  cassettes/v1/Usage-Metering_938753175/Get-Monthly-Usage-Attribution-returns-OK-response_2297145442/recording.har
  docs/v1/UsageMeteringApi.md
  examples/v1/usage-metering/GetMonthlyUsageAttribution.ts
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/MonthlyUsageAttributionBody.ts
  packages/datadog-api-client-v1/models/MonthlyUsageAttributionMetadata.ts
  packages/datadog-api-client-v1/models/MonthlyUsageAttributionPagination.ts
  packages/datadog-api-client-v1/models/MonthlyUsageAttributionResponse.ts
  packages/datadog-api-client-v1/models/MonthlyUsageAttributionSupportedMetrics.ts
  packages/datadog-api-client-v1/models/MonthlyUsageAttributionValues.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit f43ab25 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Usage-Metering_938753175/Get-Usage-Attribution-returns-OK-response_3107414523/frozen.json
  cassettes/v1/Usage-Metering_938753175/Get-Usage-Attribution-returns-OK-response_3107414523/recording.har
  docs/v1/UsageMeteringApi.md
  examples/v1/usage-metering/GetUsageAttribution.ts
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit 55f26ba of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariable.ts
Due: generated, generate

Use the same image as other SDKs
  docker-compose.generator.yaml
  docs/v1/LogsApi.md
  docs/v1/MetricsApi.md
  docs/v1/NotebooksApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SyntheticsApi.md
  docs/v2/IncidentsApi.md
  docs/v2/LogsApi.md
  docs/v2/MetricsApi.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
Due: none

Regenerate client from commit 8cf1daa of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  docs/v2/IncidentsApi.md
  packages/datadog-api-client-v2/apis/IncidentsApi.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generate

Use the same image as other SDKs (#474)
  docker-compose.generator.yaml
  docs/v1/LogsApi.md
  docs/v1/MetricsApi.md
  docs/v1/NotebooksApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SyntheticsApi.md
  docs/v2/IncidentsApi.md
  docs/v2/LogsApi.md
  docs/v2/MetricsApi.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
Due: none

Use openapi-generator-cli instead of docker-compose
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
  openapitools.json
Due: none

Regenerate client from commit 9f3c740 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-formulas-and-functions-treemap-widget_3677864300/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-formulas-and-functions-treemap-widget_3677864300/recording.har
  examples/v1/dashboards/CreateDashboard_1024858348.ts
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/TreeMapWidgetDefinition.ts
  packages/datadog-api-client-v1/models/TreeMapWidgetRequest.ts
Due: generated, generated-features, generate

Move to .generator
  .generator/openapitools.json
  .gitignore
  .pre-commit-config.yaml
Due: generate

Regenerate client from commit 830f39c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
Due: generate

Regenerate client from commit bb2c57f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/EventCreateRequest.ts
Due: generated, generate

Regenerate client from commit 1ae19d0 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 74ee362 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Monitors_4022238206/Get-a-synthetics-monitor-s-details_2292154114/frozen.json
  cassettes/v1/Monitors_4022238206/Get-a-synthetics-monitor-s-details_2292154114/recording.har
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-returns-OK-Returns-the-created-test-details-response_1284708565/frozen.json
  cassettes/v1/Synthetics_2658572017/Create-an-API-test-returns-OK-Returns-the-created-test-details-response_1284708565/recording.har
  cassettes/v1/Synthetics_2658572017/Edit-an-API-test-returns-OK-response_20146602/frozen.json
  cassettes/v1/Synthetics_2658572017/Edit-an-API-test-returns-OK-response_20146602/recording.har
  cassettes/v1/Synthetics_2658572017/Trigger-Synthetics-tests-returns-OK-response_2420990830/frozen.json
  cassettes/v1/Synthetics_2658572017/Trigger-Synthetics-tests-returns-OK-response_2420990830/recording.har
  docs/v1/SyntheticsApi.md
  examples/v1/synthetics/CreateSyntheticsAPITest.ts
  features/v1/given.json
  features/v1/synthetics.feature
  features/v1/synthetics_api_test_payload.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsBasicAuth.ts
  packages/datadog-api-client-v1/models/SyntheticsBasicAuthNTLM.ts
  packages/datadog-api-client-v1/models/SyntheticsBasicAuthNTLMType.ts
  packages/datadog-api-client-v1/models/SyntheticsBasicAuthSigv4.ts
  packages/datadog-api-client-v1/models/SyntheticsBasicAuthSigv4Type.ts
  packages/datadog-api-client-v1/models/SyntheticsBasicAuthWeb.ts
  packages/datadog-api-client-v1/models/SyntheticsBasicAuthWebType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
  packages/datadog-api-client-v1/models/SyntheticsTestRequestProxy.ts
Due: generated, generated-features, generate

Generate in repo
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Generate in repo (#480)
  .github/workflows/test.yml
  .pre-commit-config.yaml
Due: none

Remove CI condition
  .github/workflows/test.yml
Due: none

Regenerate client from commit 07112c0 of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
  features/v2/cloud_workload_security.feature
  packages/datadog-api-client-v2/models/CloudWorkloadSecurityAgentRulesListResponse.ts
Due: generated, generated-features, generate

Regenerate client from commit f03f589 of spec repo
  .apigentools-info
  features/v1/events.feature
Due: generated-features

Expose new signal config
  .generator/templates/http/http.mustache
  .generator/templates/http/isomorphic-fetch.mustache
  packages/datadog-api-client-v1/http/http.ts
  packages/datadog-api-client-v1/http/isomorphic-fetch.ts
  packages/datadog-api-client-v2/http/http.ts
  packages/datadog-api-client-v2/http/isomorphic-fetch.ts
Due: generated, generate

Add doc
  README.md
Due: none

Regenerate client from commit d58d627 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 9f83d50 of spec repo
  .apigentools-info
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-custom-variable-returns-OK-response_2025270733/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-custom-variable-returns-OK-response_2025270733/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-webhooks-integration-returns-OK-response_2832966624/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-webhooks-integration-returns-OK-response_2832966624/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Get-a-webhook-integration-returns-OK-response_4191458081/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Get-a-webhook-integration-returns-OK-response_4191458081/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-custom-variable-returns-OK-response_3761621408/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-custom-variable-returns-OK-response_3761621408/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-webhook-returns-OK-response_3430434088/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-webhook-returns-OK-response_3430434088/recording.har
  cassettes/v2/Logs-Metrics_3185148095/Create-a-log-based-metric-returns-OK-response_2853166544/frozen.json
  cassettes/v2/Logs-Metrics_3185148095/Create-a-log-based-metric-returns-OK-response_2853166544/recording.har
  cassettes/v2/Logs-Metrics_3185148095/Get-a-log-based-metric-returns-OK-response_138503162/frozen.json
  cassettes/v2/Logs-Metrics_3185148095/Get-a-log-based-metric-returns-OK-response_138503162/recording.har
  cassettes/v2/Logs-Metrics_3185148095/Get-all-log-based-metrics-returns-OK-response_3198856507/frozen.json
  cassettes/v2/Logs-Metrics_3185148095/Get-all-log-based-metrics-returns-OK-response_3198856507/recording.har
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/frozen.json
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/recording.har
Due: none

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
  generate: any of: ^.generator/.*
