Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^packages/datadog-api-client-v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

tests: bump cucumber and ddtrace
  package.json
  yarn.lock
Due: none

Add missing import
  .generator/templates/http/isomorphic-fetch.mustache
Due: none

fix test command
  features/support/hooks.ts
  features/support/world.ts
  package.json
Due: none

tests: bump cucumber and ddtrace (#292)
  features/support/hooks.ts
  features/support/world.ts
  package.json
  yarn.lock
Due: none

Upgrade nock version
  package.json
  yarn.lock
Due: none

Add license
  LICENSE-3rdparty.csv
Due: none

Regenerate client from commit c7fa062 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
Due: generated

Regenerate client from commit c02444e of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsTestDetails.ts
Due: generated

Add support for text/json
  .generator/templates/model/ObjectSerializer.mustache
Due: none

Regenerate client from commit f3f3232 of spec repo
  .apigentools-info
  features/v1/events.feature
Due: generated-features

Upgrade nock version (#297)
  LICENSE-3rdparty.csv
  package.json
  yarn.lock
Due: none

Use resolutions to upgrade nock
  LICENSE-3rdparty.csv
  package.json
  yarn.lock
Due: none

Use resolutions to upgrade nock (#301)
  LICENSE-3rdparty.csv
  package.json
  yarn.lock
Due: none

force cassette rerecording
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/frozen.json
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/recording.har
  cassettes/v1/Service-Checks_3676061333/Submit-a-Service-Check-returns-Payload-accepted-response_2873002490/frozen.json
  cassettes/v1/Service-Checks_3676061333/Submit-a-Service-Check-returns-Payload-accepted-response_2873002490/recording.har
Due: none

Regenerate client from commit 4a04b77 of spec repo
  .apigentools-info
  features/v1/logs.feature
  packages/datadog-api-client-v1/http/http.ts
  packages/datadog-api-client-v1/http/isomorphic-fetch.ts
  packages/datadog-api-client-v1/models/ContentEncoding.ts
  packages/datadog-api-client-v2/http/http.ts
  packages/datadog-api-client-v2/http/isomorphic-fetch.ts
  yarn.lock
Due: generated, generated-features

Regenerate client from commit 207f15b of spec repo
  .apigentools-info
  docs/v2/IncidentServicesApi.md
  docs/v2/IncidentTeamsApi.md
  docs/v2/IncidentsApi.md
  packages/datadog-api-client-v2/apis/IncidentServicesApi.ts
  packages/datadog-api-client-v2/apis/IncidentTeamsApi.ts
  packages/datadog-api-client-v2/apis/IncidentsApi.ts
Due: generated

Regenerate client from commit 1f84aba of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  features/v1/downtimes.feature
  features/v1/monitors.feature
  features/v1/service_checks.feature
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/models/DowntimeRecurrence.ts
  packages/datadog-api-client-v1/models/MonitorOptions.ts
  packages/datadog-api-client-v1/models/WebhooksIntegration.ts
  packages/datadog-api-client-v1/models/WebhooksIntegrationUpdateRequest.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit d0cfebd of spec repo
  .apigentools-info
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/frozen.json
  cassettes/v1/Metrics_2046978582/Submit-metrics-returns-Payload-accepted-response_3507880359/recording.har
  cassettes/v1/Service-Checks_3676061333/Submit-a-Service-Check-returns-Payload-accepted-response_2873002490/frozen.json
  cassettes/v1/Service-Checks_3676061333/Submit-a-Service-Check-returns-Payload-accepted-response_2873002490/recording.har
  cassettes/v1/Synthetics_2658572017/Client-is-resilient-to-enum-and-oneOf-deserialization-errors_3747984761/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-custom-variable-returns-OK-response_2025270733/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-webhooks-integration-returns-OK-response_2832966624/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Delete-a-custom-variable-returns-OK-response_1370969394/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Delete-a-webhook-returns-OK-response_506990758/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Get-a-webhook-integration-returns-OK-response_4191458081/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-custom-variable-returns-OK-response_3761621408/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-webhook-returns-OK-response_3430434088/frozen.json
  docs/v1/MetricsApi.md
  docs/v1/ServiceChecksApi.md
  packages/datadog-api-client-v1/apis/MetricsApi.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated

Regenerate client from commit 6ab9fa3 of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/models/IncidentFieldAttributesSingleValue.ts
  packages/datadog-api-client-v2/models/IncidentFieldAttributesSingleValueType.ts
Due: generated

Regenerate client from commit 863f29c of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-formulas-and-functions-scatterplot-widget_8921214/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-formulas-and-functions-scatterplot-widget_8921214/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/ScatterPlotWidgetDefinitionRequests.ts
  packages/datadog-api-client-v1/models/ScatterplotDimension.ts
  packages/datadog-api-client-v1/models/ScatterplotTableRequest.ts
  packages/datadog-api-client-v1/models/ScatterplotWidgetFormula.ts
Due: generated, generated-features

Regenerate client from commit 181ee2d of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated

Regenerate client from commit 76490b5 of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/models/IncidentFieldAttributesSingleValue.ts
  packages/datadog-api-client-v2/models/IncidentFieldAttributesSingleValueType.ts
Due: generated

Regenerate client from commit 9033ba5 of spec repo
  .apigentools-info
  docs/v2/SecurityMonitoringApi.md
  packages/datadog-api-client-v2/apis/SecurityMonitoringApi.ts
Due: generated

support {{ "{{ FOO }}" }} in templates
  features/support/templating.ts
Due: none

Wait for undo operations before stopping pollyjs
  features/support/undo.ts
  features/support/vcr.ts
  features/support/world.ts
Due: none

Wait for undo operations before stopping pollyjs (#309)
  features/support/undo.ts
  features/support/vcr.ts
  features/support/world.ts
Due: none

Regenerate client from commit 01e467f of spec repo
  .apigentools-info
  docs/v1/MetricsApi.md
  features/v1/metrics.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/MetricsApi.ts
  packages/datadog-api-client-v1/models/MetricContentEncoding.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

new line
  features/support/vcr.ts
Due: none

Regenerate client from commit bc91052 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated, generated-features

Document compress flag, change default to uncompress
  .generator/templates/http/isomorphic-fetch.mustache
  README.md
Due: none

Create Sjenica1
  Sjenica1
Due: none

Re-enable
  .generator/templates/http/isomorphic-fetch.mustache
  README.md
Due: none

Regenerate client from commit 7a4f3f3 of spec repo
  .apigentools-info
Due: none

skip existing examples on generation
  extract-code-blocks.awk
Due: none

Regenerate client from commit 0e7768c of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  features/v1/monitors.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/MonitorOptions.ts
  packages/datadog-api-client-v1/models/MonitorRenotifyStatusType.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
Due: generated, generated-features

skip existing examples on generation (#318)
  extract-code-blocks.awk
Due: none

Regenerate client from commit 9a4b94d of spec repo
  .apigentools-info
  docs/v1/NotebooksApi.md
  features/v1/notebooks.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/NotebooksApi.ts
  packages/datadog-api-client-v1/models/NotebookCreateDataAttributes.ts
  packages/datadog-api-client-v1/models/NotebookMetadata.ts
  packages/datadog-api-client-v1/models/NotebookMetadataType.ts
  packages/datadog-api-client-v1/models/NotebookResponseDataAttributes.ts
  packages/datadog-api-client-v1/models/NotebookUpdateDataAttributes.ts
  packages/datadog-api-client-v1/models/NotebooksResponseDataAttributes.ts
  packages/datadog-api-client-v1/models/NotebooksResponseMeta.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 06c7795 of spec repo
  .apigentools-info
  cassettes/v1/Events_3416228/Post-an-event-with-a-long-title-returns-OK-response_3368408033/frozen.json
  cassettes/v1/Events_3416228/Post-an-event-with-a-long-title-returns-OK-response_3368408033/recording.har
  features/v1/events.feature
  packages/datadog-api-client-v1/models/Event.ts
Due: generated, generated-features

document changing server
  README.md
Due: none

fix comment
  README.md
Due: none
