Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^packages/datadog-api-client-v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

[typescript] fix compilation error for file upload (#10288)
  .generator/templates/api/api.mustache
Due: none

Regenerate client from commit e9ac191 of spec repo
  .apigentools-info
  docs/v1/DashboardsApi.md
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/DashboardTemplateVariable.ts
Due: generated, generated-features

Regenerate client from commit a9c0eae of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SLOHistoryResponseError.ts
  packages/datadog-api-client-v1/models/SLOHistoryResponseErrorWithType.ts
  packages/datadog-api-client-v1/models/SLOHistorySLIData.ts
Due: generated

Link npm and github through repository url
  package.json
Due: none

Link npm and github through repository url (#266)
  package.json
Due: none

Regenerate client from commit 8d89f84 of spec repo
  .apigentools-info
  docs/v1/OrganizationsApi.md
  packages/datadog-api-client-v1/apis/OrganizationsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit b4ace00 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SLOHistoryMonitor.ts
  packages/datadog-api-client-v1/models/SLOHistoryResponseData.ts
Due: generated

tests: bump dd-trace to 1.3.0 version
  package.json
  yarn.lock
Due: none

tests: bump dd-trace to fix reporting
  package.json
  yarn.lock
Due: none

Regenerate client from commit 7c115a3 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated, generated-features

tests: bump dd-trace to 1.3.0 version (#275)
  package.json
  yarn.lock
Due: none

Regenerate client from commit 6ca80f8 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SLOHistoryMetricsSeries.ts
Due: generated

improve missing freeze error
  features/support/vcr.ts
Due: none

improve missing cassette error
  features/support/vcr.ts
Due: none

typo
  features/support/vcr.ts
Due: none

check for freeze file only in REPLAY mode
  features/support/vcr.ts
Due: none

Regenerate client from commit 092cad9 of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  docs/v1/AWSLogsIntegrationApi.md
  docs/v1/AzureIntegrationApi.md
  docs/v1/DashboardsApi.md
  docs/v1/DowntimesApi.md
  docs/v1/EventsApi.md
  docs/v1/GCPIntegrationApi.md
  docs/v1/LogsApi.md
  docs/v1/LogsIndexesApi.md
  docs/v1/LogsPipelinesApi.md
  docs/v1/MetricsApi.md
  docs/v1/NotebooksApi.md
  docs/v1/ServiceChecksApi.md
  docs/v1/ServiceLevelObjectivesApi.md
  docs/v1/SyntheticsApi.md
  docs/v2/IncidentsApi.md
  docs/v2/LogsApi.md
  docs/v2/LogsArchivesApi.md
  docs/v2/MetricsApi.md
  docs/v2/RolesApi.md
  docs/v2/SecurityMonitoringApi.md
  docs/v2/UsersApi.md
  features/v1/metrics.feature
  features/v1/synthetics.feature
  features/v2/security_monitoring.feature
  packages/datadog-api-client-v1/.openapi-generator/VERSION
  packages/datadog-api-client-v2/.openapi-generator/VERSION
Due: generated, generated-features

separate prettier from eslint
  .eslintrc.js
  package.json
Due: none

update prettier
  package.json
  yarn.lock
Due: none

Improve missing cassette errors (#280)
  features/support/vcr.ts
Due: none

cleanup
  LICENSE-3rdparty.csv
Due: none

Regenerate client from commit b1c1fe4 of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

prettier after
  package.json
Due: none

Regenerate client from commit e4b1338 of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-apm-dependency-stats-widget_3011380814/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-apm-dependency-stats-widget_3011380814/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/FormulaAndFunctionApmDependencyStatName.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionApmDependencyStatsDataSource.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionApmDependencyStatsQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionQueryDefinition.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
Due: generated, generated-features

tabs to spaces
  .generator/templates/http/servers.mustache
Due: none

Regenerate client from commit 63d8880 of spec repo
  .apigentools-info
  docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
  packages/datadog-api-client-v1/models/SLOCorrection.ts
  packages/datadog-api-client-v1/models/SLOCorrectionCreateData.ts
  packages/datadog-api-client-v1/models/SLOCorrectionCreateRequest.ts
  packages/datadog-api-client-v1/models/SLOCorrectionCreateRequestAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionListResponse.ts
  packages/datadog-api-client-v1/models/SLOCorrectionResponse.ts
  packages/datadog-api-client-v1/models/SLOCorrectionResponseAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionUpdateData.ts
  packages/datadog-api-client-v1/models/SLOCorrectionUpdateRequest.ts
  packages/datadog-api-client-v1/models/SLOCorrectionUpdateRequestAttributes.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 864476c of spec repo
  .apigentools-info
  features/v1/key_management.feature
  features/v2/key_management.feature
Due: generated-features

Regenerate client from commit dd3ae87 of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-apm-resource-stats-widget_2063750685/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-apm-resource-stats-widget_2063750685/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/FormulaAndFunctionApmResourceStatName.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionApmResourceStatsDataSource.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionApmResourceStatsQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionQueryDefinition.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
Due: generated, generated-features

Regenerate client from commit 0ded40f of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/FormulaAndFunctionApmDependencyStatsQueryDefinition.ts
Due: generated

Regenerate client from commit f934b04 of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-funnel-widget_3302137956/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-funnel-widget_3302137956/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/FunnelQuery.ts
  packages/datadog-api-client-v1/models/FunnelRequestType.ts
  packages/datadog-api-client-v1/models/FunnelSource.ts
  packages/datadog-api-client-v1/models/FunnelWidgetDefinition.ts
  packages/datadog-api-client-v1/models/FunnelWidgetDefinitionType.ts
  packages/datadog-api-client-v1/models/FunnelWidgetRequest.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
Due: generated, generated-features

Show body content for unknown responses
  .generator/templates/api/api.mustache
Due: none

lint
  .generator/templates/api/api.mustache
Due: none

tests: add support for DD_TEST_SITE_URL
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/undo.ts
Due: none

Add support for sl-violations header
  features/support/tracer.ts
Due: none

tests: add support for DD_TEST_SITE_URL and sl-validation header (#288)
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/tracer.ts
  features/support/undo.ts
Due: none

Add support for gzip and deflate
  .generator/templates/http/http.mustache
  .generator/templates/http/isomorphic-fetch.mustache
Due: none
