Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^packages/datadog-api-client-v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

Regenerate client from commit 34cf37f of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsBrowserTest.ts
Due: generated

fixed buildUnfo printing wrong origin operation
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/undo.ts
Due: none

Regenerate client from commit 7e667f1 of spec repo
  .apigentools-info
Due: none

Add notice for templates
  NOTICE
Due: none

Add notice for templates (#38)
  NOTICE
Due: none

Regenerate client from commit 1906d5b of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageTopAvgMetricsMetadata.ts
  packages/datadog-api-client-v1/models/UsageTopAvgMetricsResponse.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit b13ee4f of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit b654b25 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SLOWidgetDefinition.ts
  packages/datadog-api-client-v1/models/WidgetDefinition.ts
Due: generated

Regenerate client from commit e5b275c of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleQuery.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleQueryCreate.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuntimeAgentRule.ts
  packages/datadog-api-client-v2/models/all.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 075d167 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageHostHour.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated

cassettes
  cassettes/v2/Metrics_2046978582/List-tag-configurations-with-a-tag-filter-returns-Success-response_2401670284/frozen.json
  cassettes/v2/Metrics_2046978582/List-tag-configurations-with-a-tag-filter-returns-Success-response_2401670284/recording.har
Due: none

Regenerate client from commit 20f68cb of spec repo
  .apigentools-info
  features/v2/metrics.feature
  packages/datadog-api-client-v1/apis/MetricsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit abcc1ed of spec repo
  .apigentools-info
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageComplianceHour.ts
  packages/datadog-api-client-v1/models/UsageComplianceResponse.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Add default env loading
  .generator/templates/configuration.mustache
Due: none

Add DD_SITE handling, review
  .generator/templates/configuration.mustache
Due: none

Simplify DD_SITE handling
  .generator/templates/configuration.mustache
Due: none

Apply typescript-undefined-header-param.patch
  .generator/templates/api/api.mustache
Due: none

Regenerate client from commit 2f79ff1 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsAPITestResultShortResult.ts
  packages/datadog-api-client-v1/models/SyntheticsCheckType.ts
  packages/datadog-api-client-v1/models/SyntheticsTestOptions.ts
  packages/datadog-api-client-v1/models/SyntheticsTestRequest.ts
Due: generated

Regenerate client from commit 55a2c8a of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v2/configuration.ts
Due: generated

Regenerate client from commit 5e32bc9 of spec repo
  .apigentools-info
  packages/datadog-api-client-v2/models/UserAttributes.ts
Due: generated

cassettes
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/recording.har
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/frozen.json
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/recording.har
  cassettes/v2/Roles_1048039038/Add-a-user-to-a-role-returns-OK-response_192318358/frozen.json
  cassettes/v2/Roles_1048039038/Add-a-user-to-a-role-returns-OK-response_192318358/recording.har
  cassettes/v2/Roles_1048039038/Get-all-users-of-a-role-returns-OK-response_2468379648/frozen.json
  cassettes/v2/Roles_1048039038/Get-all-users-of-a-role-returns-OK-response_2468379648/recording.har
  cassettes/v2/Roles_1048039038/Remove-a-user-from-a-role-returns-OK-response_272620714/frozen.json
  cassettes/v2/Roles_1048039038/Remove-a-user-from-a-role-returns-OK-response_272620714/recording.har
  cassettes/v2/Users_112472755/Disable-a-user-returns-OK-response_4222532797/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-invitation-returns-OK-response_2095534848/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-invitation-returns-OK-response_2095534848/recording.har
  cassettes/v2/Users_112472755/Get-a-user-permissions-returns-OK-response_1676191429/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-permissions-returns-OK-response_1676191429/recording.har
  cassettes/v2/Users_112472755/Get-a-user-returns-OK-response_1576431969/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-returns-OK-response_1576431969/recording.har
  cassettes/v2/Users_112472755/List-all-users-returns-OK-response_3932136492/frozen.json
  cassettes/v2/Users_112472755/List-all-users-returns-OK-response_3932136492/recording.har
  cassettes/v2/Users_112472755/Send-invitation-emails-returns-OK-response_3290818577/frozen.json
  cassettes/v2/Users_112472755/Send-invitation-emails-returns-OK-response_3290818577/recording.har
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/frozen.json
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/recording.har
Due: none

Add support for DD_TEST_SITE
  features/step_definitions/request_steps.ts
  features/support/given.ts
  features/support/undo.ts
Due: none

cassettes
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/recording.har
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/frozen.json
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/recording.har
  cassettes/v2/Roles_1048039038/Add-a-user-to-a-role-returns-OK-response_192318358/frozen.json
  cassettes/v2/Roles_1048039038/Add-a-user-to-a-role-returns-OK-response_192318358/recording.har
  cassettes/v2/Roles_1048039038/Get-all-users-of-a-role-returns-OK-response_2468379648/frozen.json
  cassettes/v2/Roles_1048039038/Get-all-users-of-a-role-returns-OK-response_2468379648/recording.har
  cassettes/v2/Roles_1048039038/Remove-a-user-from-a-role-returns-OK-response_272620714/frozen.json
  cassettes/v2/Roles_1048039038/Remove-a-user-from-a-role-returns-OK-response_272620714/recording.har
  cassettes/v2/Users_112472755/Disable-a-user-returns-OK-response_4222532797/frozen.json
  cassettes/v2/Users_112472755/Disable-a-user-returns-OK-response_4222532797/recording.har
  cassettes/v2/Users_112472755/Get-a-user-invitation-returns-OK-response_2095534848/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-invitation-returns-OK-response_2095534848/recording.har
  cassettes/v2/Users_112472755/Get-a-user-permissions-returns-OK-response_1676191429/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-permissions-returns-OK-response_1676191429/recording.har
  cassettes/v2/Users_112472755/Get-a-user-returns-OK-response_1576431969/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-returns-OK-response_1576431969/recording.har
  cassettes/v2/Users_112472755/List-all-users-returns-OK-response_3932136492/frozen.json
  cassettes/v2/Users_112472755/List-all-users-returns-OK-response_3932136492/recording.har
  cassettes/v2/Users_112472755/Send-invitation-emails-returns-OK-response_3290818577/frozen.json
  cassettes/v2/Users_112472755/Send-invitation-emails-returns-OK-response_3290818577/recording.har
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/frozen.json
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/recording.har
Due: none

Regenerate client from commit ac88e20 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsTestOptions.ts
Due: generated

cassettes
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/recording.har
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/frozen.json
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/recording.har
  cassettes/v2/Roles_1048039038/Add-a-user-to-a-role-returns-OK-response_192318358/frozen.json
  cassettes/v2/Roles_1048039038/Add-a-user-to-a-role-returns-OK-response_192318358/recording.har
  cassettes/v2/Roles_1048039038/Get-all-users-of-a-role-returns-OK-response_2468379648/frozen.json
  cassettes/v2/Roles_1048039038/Get-all-users-of-a-role-returns-OK-response_2468379648/recording.har
  cassettes/v2/Roles_1048039038/Remove-a-user-from-a-role-returns-OK-response_272620714/frozen.json
  cassettes/v2/Roles_1048039038/Remove-a-user-from-a-role-returns-OK-response_272620714/recording.har
  cassettes/v2/Users_112472755/Disable-a-user-returns-OK-response_4222532797/frozen.json
  cassettes/v2/Users_112472755/Disable-a-user-returns-OK-response_4222532797/recording.har
  cassettes/v2/Users_112472755/Get-a-user-invitation-returns-OK-response_2095534848/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-invitation-returns-OK-response_2095534848/recording.har
  cassettes/v2/Users_112472755/Get-a-user-permissions-returns-OK-response_1676191429/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-permissions-returns-OK-response_1676191429/recording.har
  cassettes/v2/Users_112472755/Get-a-user-returns-OK-response_1576431969/frozen.json
  cassettes/v2/Users_112472755/Get-a-user-returns-OK-response_1576431969/recording.har
  cassettes/v2/Users_112472755/List-all-users-returns-OK-response_3932136492/frozen.json
  cassettes/v2/Users_112472755/List-all-users-returns-OK-response_3932136492/recording.har
  cassettes/v2/Users_112472755/Send-invitation-emails-returns-OK-response_3290818577/frozen.json
  cassettes/v2/Users_112472755/Send-invitation-emails-returns-OK-response_3290818577/recording.har
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/frozen.json
  cassettes/v2/Users_112472755/Update-a-user-returns-OK-response_2262401676/recording.har
  features/support/templating.ts
Due: none

Regenerate client from commit 1a655b7 of spec repo
  .apigentools-info
  features/v1/dashboards.feature
  features/v2/given.json
Due: generated-features

Regenerate client from commit cc1654e of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit bd111f9 of spec repo
  .apigentools-info
  features/v1/downtimes.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/apis/DowntimesApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit ac5cf63 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit f21ba81 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/servers.ts
  packages/datadog-api-client-v2/servers.ts
Due: generated

updated cassettes
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/frozen.json
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/recording.har
Due: none

Support text/json, re-record event
  .generator/templates/model/ObjectSerializer.mustache
  cassettes/v1/Events_3416228/Post-an-event-returns-OK-response_1209415328/frozen.json
  cassettes/v1/Events_3416228/Post-an-event-returns-OK-response_1209415328/recording.har
Due: none

Regenerate client from commit 25dde8c of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/ServiceLevelObjectiveRequest.ts
Due: generated
