Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generated
        name: Do not commit generated files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^packages/datadog-api-client-v[1-9].*"
        verbose: true
      - id: generated-features
        name: Do not commit generated feature files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^features/v[1-9][0-9]*/.*.feature$"
        verbose: true
      - id: generate
        name: Generate
        language: node
        entry: make
        files: "^.generator/.*"
        pass_filenames: false
      - id: lint
        name: Lint
        language: node
        entry: yarn run lint:fix
        stages: [manual]
        pass_filenames: false
        files: "^(docs|packages)/.*"

update comments
  .generator/templates/configuration.mustache
Due: generate

use setVariables
  .generator/templates/configuration.mustache
Due: generate

Use setVariables function to change server
  README.md
Due: none

Regenerate client from commit 0b58986 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/Dashboard.ts
Due: generated, generate

change baseServer to be of type ServerConfiguration
  .generator/templates/configuration.mustache
Due: generate

change BaseServerConfiguration and ServerConfiguration
  .generator/templates/http/servers.mustache
Due: generate

remove templates from BaseServer
  .generator/templates/http/servers.mustache
Due: generate

fix class extension and variableConfiguration type
  .generator/templates/configuration.mustache
  .generator/templates/http/servers.mustache
Due: generate

export setServerVariables function
  .generator/templates/index.mustache
Due: generate

update changing server
  README.md
Due: none

remove any type
  .generator/templates/configuration.mustache
  .generator/templates/http/servers.mustache
Due: generate

refactor serializiation logic and attributeTypeMap
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

Regenerate client from commit f510509 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Create-an-SLO-correction-with-rrule-returns-OK-response_3003320282/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Create-an-SLO-correction-with-rrule-returns-OK-response_3003320282/recording.har
  docs/v1/ServiceLevelObjectiveCorrectionsApi.md
  features/v1/service_level_objective_corrections.feature
  packages/datadog-api-client-v1/models/SLOCorrectionCreateRequestAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionResponseAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionUpdateRequestAttributes.ts
Due: generated, generated-features, generate

add return type for getConfiguration
  .generator/templates/http/servers.mustache
Due: generate

Regenerate client from commit e0d002a of spec repo
  .apigentools-info
Due: none

generate client for #322
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/servers.ts
  packages/datadog-api-client-v2/configuration.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/servers.ts
Due: generated

Document changing servers (#320)
  README.md
Due: none

generate client for #322 (#339)
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/servers.ts
  packages/datadog-api-client-v2/configuration.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/servers.ts
Due: generated

Regenerate client from commit 0c1024b of spec repo
  .apigentools-info
  .generator/schemas/v2/openapi.yaml
Due: generate

remove serialization methods, fix raw object
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

add required and name properties, and make format optional
  .generator/templates/model/model.mustache
Due: generate

fix typo
  .generator/templates/model/model.mustache
Due: generate

Regenerate client from commit 569e123 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/ServiceChecksApi.md
  packages/datadog-api-client-v1/apis/ServiceChecksApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generate

fix issues, add optional EnumValues
  .generator/templates/model/model.mustache
Due: generate

make enumValues of type any
  .generator/templates/model/model.mustache
Due: generate

fix enum checks
  .generator/templates/model/ObjectSerializer.mustache
Due: generate

Regenerate client from commit ca6b2d8 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  features/v1/dashboards.feature
Due: generated-features, generate

Use UTC in time tests
  features/support/templating.ts
Due: none

GCR
  .github/workflows/test_integration.yml
Due: none

GCR (#347)
  .github/workflows/test_integration.yml
Due: none

GCR part 2
  .github/workflows/test_integration.yml
Due: none

remove enumValues from classes
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

GCR part 2 (#348)
  .github/workflows/test_integration.yml
Due: none

Use UTC in time tests (#346)
  features/support/templating.ts
Due: none

remove format field when it's an empty string
  .generator/templates/model/model.mustache
Due: generate

remove enumValues unused type
  .generator/templates/model/model.mustache
Due: generate

remove required when it's false
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated, generate
