Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

add a setServerVariables helper function
  .generator/templates/index.mustache
Due: none

fix comment
  .generator/templates/index.mustache
Due: none

Delete SyntheticsCITestMetadataCi.ts
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadataCi.ts
Due: generated

Regenerate client from commit a046371 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsBatchDetails.ts
  packages/datadog-api-client-v1/models/SyntheticsBatchDetailsData.ts
  packages/datadog-api-client-v1/models/SyntheticsBatchResult.ts
  packages/datadog-api-client-v1/models/SyntheticsCIBatchMetadata.ts
  packages/datadog-api-client-v1/models/SyntheticsCIBatchMetadataCI.ts
  packages/datadog-api-client-v1/models/SyntheticsCIBatchMetadataGit.ts
  packages/datadog-api-client-v1/models/SyntheticsCITest.ts
  packages/datadog-api-client-v1/models/SyntheticsStatus.ts
  packages/datadog-api-client-v1/models/SyntheticsTestExecutionRule.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Add skip-validation to metrics scenario using deflate
  features/v1/metrics.feature
Due: generated-features

Regenerate client from commit 9ad7087 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
Due: generated

Regenerate client from commit 452360f of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageSDSHour.ts
  packages/datadog-api-client-v1/models/UsageSDSResponse.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 12e050e of spec repo
  .apigentools-info
  docs/v1/AWSIntegrationApi.md
  features/v1/aws_integration.feature
  packages/datadog-api-client-v1/models/AWSAccount.ts
Due: generated, generated-features

Regenerate client from commit fcd10ad of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageTimeseriesHour.ts
Due: generated

Regenerate client from commit 532aa21 of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/servers.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
  packages/datadog-api-client-v2/servers.ts
Due: generated

Regenerate client from commit 303d2e3 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit b5ffe1f of spec repo
  .apigentools-info
  features/v1/metrics.feature
Due: generated-features

Regenerate client from commit 9841481 of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-distribution-widget-and-apm-stats-data_1767619956/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-distribution-widget-and-apm-stats-data_1767619956/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/models/DistributionWidgetRequest.ts
Due: generated, generated-features

Regenerate client from commit c203748 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/UsageAttributionSupportedMetrics.ts
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
Due: generated

ci: get more information about source code
  .github/workflows/test_integration.yml
Due: none

ci: get more information about source code (#330)
  .github/workflows/test_integration.yml
Due: none

Remove unused docker file
  Dockerfile.test
Due: none

Generate client in repository
  .generator/config/v1.json
  .generator/config/v2.json
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
  features/support/vcr.ts
  package.json
  schemas/v1/openapi.yaml
  schemas/v2/openapi.yaml
  tests/api/deserialization.test.ts
Due: none

Regenerate client from commit d3a053a of spec repo
  .apigentools-info
Due: none

Move schemas and rename containers;
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  .pre-commit-config.yaml
  Makefile
  docker-compose.generator.yaml
Due: none

Include check-examples in CI
  .github/workflows/test.yml
Due: none

Regenerate client from commit 53a5665 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
Due: generated-features

Wrap linter to pre-commit hook
  .pre-commit-config.yaml
  Makefile
  package.json
Due: none

exit 0 after lint
  Makefile
Due: none

check all examples
  check-examples.sh
Due: none

install all
  check-examples.sh
Due: none

define files for linting
  .pre-commit-config.yaml
Due: none

lint --all-files
  Makefile
Due: none

do not filter files
  .pre-commit-config.yaml
Due: none

Update package.json
  package.json
Due: none

lint md
  package.json
Due: none

move after linting
  Makefile
  package.json
Due: none

fix uid:gid
  .gitignore
  Makefile
  docker-compose.generator.yaml
  docs/v1/SyntheticsApi.md
Due: none

Regenerate client from commit ad22b00 of spec repo
  .apigentools-info
  docs/v2/MetricsApi.md
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/MetricsApi.ts
  packages/datadog-api-client-v2/models/MetricCustomAggregation.ts
  packages/datadog-api-client-v2/models/MetricCustomSpaceAggregation.ts
  packages/datadog-api-client-v2/models/MetricCustomTimeAggregation.ts
  packages/datadog-api-client-v2/models/MetricTagConfigurationAttributes.ts
  packages/datadog-api-client-v2/models/MetricTagConfigurationCreateAttributes.ts
  packages/datadog-api-client-v2/models/MetricTagConfigurationUpdateAttributes.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated

Update test.yml
  .github/workflows/test.yml
Due: none

Regenerate client from commit 5f2ff0f of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v1/SyntheticsApi.md
Due: none

update configuration
  .generator/templates/configuration.mustache
  .generator/templates/index.mustache
Due: none

remove unused import
  .generator/templates/index.mustache
Due: none

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
