Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: generated
    name: Do not commit generated files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^packages/datadog-api-client-v[1-9].*'
    verbose: true
  - id: generated-features
    name: Do not commit generated feature files
    language: fail
    entry: Unstage generated files with 'git reset --' command
    files: '^features/v[1-9][0-9]*/.*.feature$'
    verbose: true

Use server indexo for DD_TEST_SITE
  features/step_definitions/request_steps.ts
Due: none

Use server index for DD_TEST_SITE (#65)
  features/step_definitions/request_steps.ts
Due: none

Add skip-typescript tag
  features/support/hooks.ts
Due: none

factorize
  features/support/hooks.ts
Due: none

Regenerate client from commit 3f8036f of spec repo
  .apigentools-info
  features/v1/dashboards.feature
Due: generated-features

updated cassettes
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/frozen.json
  cassettes/v1/IP-Ranges_1689596030/List-IP-Ranges-returns-OK-response_2296926910/recording.har
Due: none

Regenerate client from commit d890ce4 of spec repo
  .apigentools-info
  features/v1/events.feature
  features/v1/logs.feature
  features/v1/metrics.feature
  features/v1/service_checks.feature
  features/v1/undo.json
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/EventsApi.ts
  packages/datadog-api-client-v1/apis/LogsApi.ts
  packages/datadog-api-client-v1/apis/MetricsApi.ts
  packages/datadog-api-client-v1/apis/ServiceChecksApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ContentEncoding.ts
  packages/datadog-api-client-v1/models/EventCreateRequest.ts
  packages/datadog-api-client-v1/models/EventCreateResponse.ts
  packages/datadog-api-client-v1/models/HTTPLogError.ts
  packages/datadog-api-client-v1/models/HTTPLogItem.ts
  packages/datadog-api-client-v1/models/IntakePayloadAccepted.ts
  packages/datadog-api-client-v1/models/MetricsPayload.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/Series.ts
  packages/datadog-api-client-v1/models/ServiceCheck.ts
  packages/datadog-api-client-v1/models/ServiceCheckStatus.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/servers.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated, generated-features

tests: improve behavior of RERECORD_FAILED_TESTS=true
  features/support/vcr.ts
Due: none

Regenerate client from commit a7b74b7 of spec repo
  .apigentools-info
  features/v2/given.json
  features/v2/security_monitoring.feature
  features/v2/undo.json
Due: generated-features

Regenerate client from commit 8873fe5 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/GeomapWidgetRequest.ts
Due: generated

added unique_lower_alnum
  features/support/vcr.ts
Due: none

added unique_lower_alnum (#73)
  features/support/vcr.ts
Due: none

tests: fix SLO scenarios
  cassettes/v1/Service-Level-Objectives_139838558/Create-an-SLO-object-returns-Bad-Request-response_700291761/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Create-an-SLO-object-returns-Bad-Request-response_700291761/recording.har
  cassettes/v1/Service-Level-Objectives_139838558/Create-an-SLO-object-returns-OK-response_3282353469/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Create-an-SLO-object-returns-OK-response_3282353469/recording.har
  cassettes/v1/Service-Level-Objectives_139838558/Delete-an-SLO-returns-Not-found-response_382173572/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Delete-an-SLO-returns-Not-found-response_382173572/recording.har
  cassettes/v1/Service-Level-Objectives_139838558/Delete-an-SLO-returns-OK-response_399580903/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Delete-an-SLO-returns-OK-response_399580903/recording.har
  cassettes/v1/Service-Level-Objectives_139838558/Update-an-SLO-returns-Bad-Request-response_2903965177/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Update-an-SLO-returns-Bad-Request-response_2903965177/recording.har
  features/v1/service_level_objectives.feature
Due: generated-features

Apply suggestions from code review
  features/support/vcr.ts
Due: none

Regenerate client from commit e253529 of spec repo
  .apigentools-info
Due: none

Regenerate client from commit 70fbb25 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/Dashboard.ts
  packages/datadog-api-client-v1/models/DashboardReflowType.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/all.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit fd4a082 of spec repo
  .apigentools-info
  features/v1/service_level_objective_corrections.feature
  packages/datadog-api-client-v1/apis/ServiceLevelObjectiveCorrectionsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit 92744ec of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/apis/ServiceLevelObjectivesApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Update features/support/vcr.ts
  features/support/vcr.ts
Due: none

updated cassettes
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-returns-Bad-Request-response_1398536295/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-returns-Bad-Request-response_1398536295/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-returns-OK-response_1993092739/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-returns-OK-response_1993092739/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Delete-a-non-existing-rule-returns-Not-Found-response_2248933062/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Delete-a-non-existing-rule-returns-Not-Found-response_2248933062/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Delete-an-existing-rule-returns-OK-response_3829060834/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Delete-an-existing-rule-returns-OK-response_3829060834/recording.har
Due: none

Regenerate client from commit 7c5f04f of spec repo
  .apigentools-info
  features/v2/security_monitoring.feature
Due: generated-features

Regenerate client from commit f1b60ce of spec repo
  .apigentools-info
  features/v1/aws_integration.feature
  features/v1/aws_logs_integration.feature
  features/v1/azure_integration.feature
  features/v1/dashboard_lists.feature
  features/v1/dashboards.feature
  features/v1/downtimes.feature
  features/v1/events.feature
  features/v1/gcp_integration.feature
  features/v1/hosts.feature
  features/v1/key_management.feature
  features/v1/logs.feature
  features/v1/logs_indexes.feature
  features/v1/logs_pipelines.feature
  features/v1/metrics.feature
  features/v1/monitors.feature
  features/v1/organizations.feature
  features/v1/pagerduty_integration.feature
  features/v1/service_checks.feature
  features/v1/service_level_objective_corrections.feature
  features/v1/service_level_objectives.feature
  features/v1/slack_integration.feature
  features/v1/synthetics.feature
  features/v1/tags.feature
  features/v1/users.feature
  features/v2/dashboard_lists.feature
  features/v2/incident_services.feature
  features/v2/incident_teams.feature
  features/v2/incidents.feature
  features/v2/key_management.feature
  features/v2/logs.feature
  features/v2/logs_archives.feature
  features/v2/logs_metrics.feature
  features/v2/metrics.feature
  features/v2/roles.feature
  features/v2/security_monitoring.feature
  features/v2/users.feature
Due: generated-features

tests: improve behavior of RERECORD_FAILED_TESTS=true (#69)
  features/support/vcr.ts
Due: none

Remove unused cassettes
  cassettes/v2/Metrics_2046978582/List-Distinct-Metric-Volumes-by-Metric-Name-returns-Success-response_1796719109/frozen.json
  cassettes/v2/Metrics_2046978582/List-Distinct-Metric-Volumes-by-Metric-Name-returns-Success-response_1796719109/recording.har
  cassettes/v2/Metrics_2046978582/List-Tags-by-Metric-Name-returns-Success-response_2917059969/frozen.json
  cassettes/v2/Metrics_2046978582/List-Tags-by-Metric-Name-returns-Success-response_2917059969/recording.har
Due: none

templates for oneOf
  .generator/templates/index.mustache
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
  .generator/templates/model/models_all.mustache
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/recording.har
  features/step_definitions/request_steps.ts
  packages/datadog-api-client-v2/models/LogsAggregateBucketValueTimeseries.ts
Due: generated

typing
  .generator/templates/model/model.mustache
Due: none

Remove debug log
  features/step_definitions/request_steps.ts
Due: none

3rd party
  LICENSE-3rdparty.csv
Due: none

review suggestions
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
  yarn.lock
Due: none

cassettes
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-profile-metric-query_271972054/recording.har
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/recording.har
  cassettes/v1/Logs_1370058150/Send-logs-returns-Response-from-server-always-200-empty-JSON-response_3987203815/frozen.json
  cassettes/v1/Logs_1370058150/Send-logs-returns-Response-from-server-always-200-empty-JSON-response_3987203815/recording.har
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/recording.har
  cassettes/v1/Service-Level-Objectives_139838558/Create-an-SLO-object-returns-Bad-Request-response_700291761/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Create-an-SLO-object-returns-Bad-Request-response_700291761/recording.har
  cassettes/v1/Service-Level-Objectives_139838558/Update-an-SLO-returns-Bad-Request-response_2903965177/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Update-an-SLO-returns-Bad-Request-response_2903965177/recording.har
  cassettes/v2/Incident-Services_2491127861/Update-an-existing-incident-service-returns-OK-response_275190567/frozen.json
  cassettes/v2/Incident-Services_2491127861/Update-an-existing-incident-service-returns-OK-response_275190567/recording.har
  cassettes/v2/Incident-Teams_1730755821/Update-an-existing-incident-team-returns-OK-response_2393850629/frozen.json
  cassettes/v2/Incident-Teams_1730755821/Update-an-existing-incident-team-returns-OK-response_2393850629/recording.har
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/frozen.json
  cassettes/v2/Incidents_2863714588/Create-an-incident-returns-CREATED-response_1358703236/recording.har
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/frozen.json
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/recording.har
Due: none

add arbitrary map support
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: none

add react peer dependency
  package.json
Due: none

cassettes
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-returns-Bad-Request-response_1398536295/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-returns-Bad-Request-response_1398536295/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Delete-an-existing-rule-returns-OK-response_3829060834/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Delete-an-existing-rule-returns-OK-response_3829060834/recording.har
Due: none

cassettes
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-timeseries-widget-containing-style-attributes_3403210910/recording.har
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/frozen.json
  cassettes/v1/Service-Level-Objective-Corrections_2301830752/Get-an-SLO-correction-for-an-SLO-returns-OK-response_2376494686/recording.har
  cassettes/v1/Service-Level-Objectives_139838558/Update-an-SLO-returns-Bad-Request-response_2903965177/frozen.json
  cassettes/v1/Service-Level-Objectives_139838558/Update-an-SLO-returns-Bad-Request-response_2903965177/recording.har
  cassettes/v2/Incident-Services_2491127861/Update-an-existing-incident-service-returns-OK-response_275190567/frozen.json
  cassettes/v2/Incident-Services_2491127861/Update-an-existing-incident-service-returns-OK-response_275190567/recording.har
  cassettes/v2/Incident-Teams_1730755821/Update-an-existing-incident-team-returns-OK-response_2393850629/frozen.json
  cassettes/v2/Incident-Teams_1730755821/Update-an-existing-incident-team-returns-OK-response_2393850629/recording.har
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/frozen.json
  cassettes/v2/Logs-Metrics_3185148095/Update-a-log-based-metric-returns-OK-response_2069463495/recording.har
  cassettes/v2/Security-Monitoring_1187227211/Delete-an-existing-rule-returns-OK-response_3829060834/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Delete-an-existing-rule-returns-OK-response_3829060834/recording.har
Due: none

Reduce timestamp precision
  features/support/vcr.ts
Due: none
