Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features

generated:
  name: Do not commit generated files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

generated-features:
  name: Do not commit generated feature files
  language: fail
  entry: Unstage generated files with 'git reset --' command
  verbose: true

remove unused import
  features/step_definitions/request_steps.ts
Due: none

code cleanup
  .generator/templates/model/model.mustache
  run-tests.sh
Due: none

Regenerate client from commit bf781b9 of spec repo
  .apigentools-info
  cassettes/v2/Users_112472755/Create-a-service-account-returns-OK-response_2428622892/frozen.json
  cassettes/v2/Users_112472755/Create-a-service-account-returns-OK-response_2428622892/recording.har
  docs/v2/ServiceAccountsApi.md
  docs/v2/UsersApi.md
  features/v2/given.json
  features/v2/service_accounts.feature
  features/v2/undo.json
  features/v2/users.feature
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/ServiceAccountsApi.ts
  packages/datadog-api-client-v2/apis/UsersApi.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/PartialApplicationKeyResponse.ts
  packages/datadog-api-client-v2/models/ServiceAccountCreateAttributes.ts
  packages/datadog-api-client-v2/models/ServiceAccountCreateData.ts
  packages/datadog-api-client-v2/models/ServiceAccountCreateRequest.ts
  packages/datadog-api-client-v2/models/UserAttributes.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features

fix test names
  tests/api/deserialization.test.ts
Due: none

optimize unit tests time down to 10 seconds
  package.json
  run-tests.sh
Due: none

Regenerate client from commit 75fd781 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsDevice.ts
  packages/datadog-api-client-v1/models/SyntheticsDeviceID.ts
  packages/datadog-api-client-v1/models/SyntheticsTriggerCITestRunResult.ts
Due: generated

Regenerate client from commit 6e156e1 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/Event.ts
Due: generated

Regenerate client from commit 772783e of spec repo
  .apigentools-info
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-query-value-widget-using-the-percentile-aggregator_4254654985/frozen.json
  cassettes/v1/Dashboards_1335235736/Create-a-new-dashboard-with-a-query-value-widget-using-the-percentile-aggregator_4254654985/recording.har
  features/v1/dashboards.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/FormulaAndFunctionMetricQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionProcessQueryDefinition.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/QueryValueWidgetRequest.ts
  packages/datadog-api-client-v1/models/ScatterPlotRequest.ts
  packages/datadog-api-client-v1/models/ScatterplotWidgetAggregator.ts
  packages/datadog-api-client-v1/models/TableWidgetRequest.ts
  packages/datadog-api-client-v1/models/WidgetAggregator.ts
Due: generated, generated-features

Regenerate client from commit 47465fb of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/ListStreamQuery.ts
  packages/datadog-api-client-v1/models/ListStreamSource.ts
Due: generated

[typescript] FIX: Generate documentation and examples #9413 (#9857)
  .generator/templates/api_doc.mustache
Due: none

Regenerate client from commit f7db18b of spec repo
  .apigentools-info
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SLOHistorySLIData.ts
Due: generated, generated-features

Regenerate client from commit 9684c06 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit fa2403b of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariableParserType.ts
  packages/datadog-api-client-v1/models/SyntheticsVariableParser.ts
Due: generated

Record, add upper
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-custom-variable-returns-OK-response_2025270733/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-custom-variable-returns-OK-response_2025270733/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-webhooks-integration-returns-OK-response_2832966624/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Create-a-webhooks-integration-returns-OK-response_2832966624/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Delete-a-custom-variable-returns-OK-response_1370969394/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Delete-a-custom-variable-returns-OK-response_1370969394/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Delete-a-webhook-returns-OK-response_506990758/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Delete-a-webhook-returns-OK-response_506990758/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Get-a-webhook-integration-returns-OK-response_4191458081/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Get-a-webhook-integration-returns-OK-response_4191458081/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-custom-variable-returns-OK-response_3761621408/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-custom-variable-returns-OK-response_3761621408/recording.har
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-webhook-returns-OK-response_3430434088/frozen.json
  cassettes/v1/Webhooks-Integration_2229727045/Update-a-webhook-returns-OK-response_3430434088/recording.har
  features/support/vcr.ts
Due: none

Regenerate client from commit 64ee0b9 of spec repo
  .apigentools-info
  docs/v1/WebhooksIntegrationApi.md
  features/v1/given.json
  features/v1/undo.json
  features/v1/webhooks_integration.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/WebhooksIntegrationApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/WebhooksIntegration.ts
  packages/datadog-api-client-v1/models/WebhooksIntegrationCustomVariable.ts
  packages/datadog-api-client-v1/models/WebhooksIntegrationCustomVariableResponse.ts
  packages/datadog-api-client-v1/models/WebhooksIntegrationCustomVariableUpdateRequest.ts
  packages/datadog-api-client-v1/models/WebhooksIntegrationEncoding.ts
  packages/datadog-api-client-v1/models/WebhooksIntegrationUpdateRequest.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit fcc640d of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariable.ts
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariableAttributes.ts
Due: generated, generated-features

Regenerate client from commit e3699c0 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventQueryDefinition.ts
  packages/datadog-api-client-v1/models/FormulaAndFunctionEventsDataSource.ts
Due: generated

Squashed commit of the following:
  .generator/templates/README.mustache
  .generator/templates/api/api.mustache
  .generator/templates/api/baseapi.mustache
  .generator/templates/api/exception.mustache
  .generator/templates/api/middleware.mustache
  .generator/templates/git_push.sh.mustache
  .generator/templates/http/http.mustache
  .generator/templates/http/jquery.mustache
  .generator/templates/licenseInfo.mustache
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
  .generator/templates/services/ObjectParamAPI.mustache
  .generator/templates/services/ObservableAPI.mustache
  .generator/templates/services/PromiseAPI.mustache
  .generator/templates/services/api.mustache
  .generator/templates/services/http.mustache
  .generator/templates/tsconfig.mustache
  .generator/templates/types/ObjectParamAPI.mustache
  .generator/templates/types/ObservableAPI.mustache
  .generator/templates/types/PromiseAPI.mustache
  .generator/templates/util.mustache
Due: none

Regenerate client from commit 20a3ffe of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Regenerate client from commit 092b505 of spec repo
  .apigentools-info
  docs/v2/IncidentsApi.md
  features/v2/incidents.feature
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/models/IncidentCreateAttributes.ts
  packages/datadog-api-client-v2/models/IncidentNotificationHandle.ts
  packages/datadog-api-client-v2/models/IncidentResponseAttributes.ts
  packages/datadog-api-client-v2/models/IncidentUpdateAttributes.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated, generated-features

Regenerate client from commit eaa6615 of spec repo
  .apigentools-info
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-with-type-workload_security-returns-OK-response_733244223/frozen.json
  cassettes/v2/Security-Monitoring_1187227211/Create-a-detection-rule-with-type-workload_security-returns-OK-response_733244223/recording.har
  docs/v2/SecurityMonitoringApi.md
  features/v2/given.json
  features/v2/security_monitoring.feature
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleCreatePayload.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleResponse.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleTypeCreate.ts
  packages/datadog-api-client-v2/models/SecurityMonitoringRuleTypeRead.ts
Due: generated, generated-features

Regenerate client from commit cda030e of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 4f0cc56 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariableValue.ts
  packages/datadog-api-client-v1/models/SyntheticsTriggerCITestsResponse.ts
Due: generated

[Typescript] Add application/x-www-form-urlencoded content support (#9960)
  .generator/templates/api/api.mustache
  .generator/templates/http/http.mustache
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/util.mustache
Due: none

Regenerate client from commit 96bac9a of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/models/Monitor.ts
  packages/datadog-api-client-v1/models/MonitorSearchResult.ts
  packages/datadog-api-client-v1/models/MonitorType.ts
  packages/datadog-api-client-v1/models/MonitorUpdateRequest.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit fe1d096 of spec repo
  .apigentools-info
  docs/v1/MonitorsApi.md
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit 67944e6 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  packages/datadog-api-client-v1/apis/SyntheticsApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated

Regenerate client from commit fccf269 of spec repo
  .apigentools-info
  docs/v1/UsageMeteringApi.md
  features/v1/undo.json
  features/v1/usage_metering.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/apis/UsageMeteringApi.ts
  packages/datadog-api-client-v1/index.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/UsageAttributionSupportedMetrics.ts
  packages/datadog-api-client-v1/models/UsageAttributionValues.ts
  packages/datadog-api-client-v1/models/UsageDBMHour.ts
  packages/datadog-api-client-v1/models/UsageDBMResponse.ts
  packages/datadog-api-client-v1/models/UsageSummaryDate.ts
  packages/datadog-api-client-v1/models/UsageSummaryDateOrg.ts
  packages/datadog-api-client-v1/models/UsageSummaryResponse.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features

Regenerate client from commit db0de24 of spec repo
  .apigentools-info
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/models/SyntheticsBrowserTestConfig.ts
  packages/datadog-api-client-v1/models/SyntheticsTestConfig.ts
Due: generated, generated-features

Configure DD_SITE on operationServer
  .generator/templates/configuration.mustache
Due: none

Revert "Configure DD_SITE on operationServer"
  .generator/templates/configuration.mustache
Due: none

Regenerate client from commit 49b34e1 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v2/configuration.ts
Due: generated

Changelog for beta 5
  CHANGELOG.md
Due: none

Changelog for beta 5 (#260)
  CHANGELOG.md
Due: none

Bump beta 5
  package.json
Due: none

Bump beta 5 (#261)
  package.json
Due: none

Regenerate client from commit 04b2dd3 of spec repo
  .apigentools-info
  features/v1/synthetics.feature
Due: generated-features

Fix thousands of spelling typos (#10272)
  .generator/templates/git_push.sh.mustache
Due: none

Path conditions:
  generated: any of: ^packages/datadog-api-client-v[1-9].*
  generated-features: any of: ^features/v[1-9][0-9]*/.*.feature$
