Repository DataDog/datadog-api-client-typescript: changes, and which pre-commit hooks are due for each by the changed paths.
All: generated, generated-features, generate

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: generated
        name: Do not commit generated files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^packages/datadog-api-client-v[1-9].*"
        verbose: true
      - id: generated-features
        name: Do not commit generated feature files
        language: fail
        entry: Unstage generated files with 'git reset --' command
        files: "^features/v[1-9][0-9]*/.*.feature$"
        verbose: true
      - id: generate
        name: Generate
        language: node
        entry: make
        files: "^.generator/.*"
        pass_filenames: false
      - id: lint
        name: Lint
        language: node
        entry: yarn run lint:fix
        stages: [manual]
        pass_filenames: false
        files: "^(docs|packages)/.*"

small name changes
  .generator/templates/model/ObjectSerializer.mustache
Due: generate

remove name field, and make required optional
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

small nit on error messages
  .generator/templates/model/ObjectSerializer.mustache
Due: generate

generated code
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SLOCorrectionCreateRequestAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionResponseAttributes.ts
  packages/datadog-api-client-v1/models/SLOCorrectionUpdateRequestAttributes.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated

remove unnecessary check on serialize
  .generator/templates/model/ObjectSerializer.mustache
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
Due: generated, generate

last working change
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

change enumsMap map type to any[]
  .generator/templates/model/ObjectSerializer.mustache
Due: generate

remove discriminator and findCorrectType
  .generator/templates/model/ObjectSerializer.mustache
  .generator/templates/model/model.mustache
Due: generate

Remove deleted models
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadata.ts
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadataCi.ts
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadataGit.ts
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariableParseTestOptionsParser.ts
  packages/datadog-api-client-v1/models/SyntheticsTickInterval.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinition.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinitionCompute.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinitionSearch.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryGroupBy.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryGroupBySort.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionMetricQueryDefinition.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionProcessQueryDefinition.ts
  packages/datadog-api-client-v1/models/UsageComplianceHour.ts
  packages/datadog-api-client-v1/models/UsageComplianceResponse.ts
  packages/datadog-api-client-v1/models/UsageTraceHour.ts
  packages/datadog-api-client-v1/models/UsageTraceResponse.ts
  packages/datadog-api-client-v1/models/UsageTracingWithoutLimitsHour.ts
  packages/datadog-api-client-v1/models/UsageTracingWithoutLimitsResponse.ts
  packages/datadog-api-client-v2/models/SecurityFilterDeleteResponse.ts
Due: generated

Remove deleted models (#351)
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadata.ts
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadataCi.ts
  packages/datadog-api-client-v1/models/SyntheticsCITestMetadataGit.ts
  packages/datadog-api-client-v1/models/SyntheticsGlobalVariableParseTestOptionsParser.ts
  packages/datadog-api-client-v1/models/SyntheticsTickInterval.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinition.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinitionCompute.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryDefinitionSearch.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryGroupBy.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionEventQueryGroupBySort.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionMetricQueryDefinition.ts
  packages/datadog-api-client-v1/models/TimeSeriesFormulaAndFunctionProcessQueryDefinition.ts
  packages/datadog-api-client-v1/models/UsageComplianceHour.ts
  packages/datadog-api-client-v1/models/UsageComplianceResponse.ts
  packages/datadog-api-client-v1/models/UsageTraceHour.ts
  packages/datadog-api-client-v1/models/UsageTraceResponse.ts
  packages/datadog-api-client-v1/models/UsageTracingWithoutLimitsHour.ts
  packages/datadog-api-client-v1/models/UsageTracingWithoutLimitsResponse.ts
  packages/datadog-api-client-v2/models/SecurityFilterDeleteResponse.ts
Due: generated

Regenerate client from commit 5a8a968 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/SyntheticsApi.md
  features/v1/synthetics.feature
  packages/datadog-api-client-v1/.openapi-generator/FILES
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/models/SyntheticsCIBatchMetadataCI.ts
  packages/datadog-api-client-v1/models/SyntheticsCIBatchMetadataPipeline.ts
  packages/datadog-api-client-v1/models/SyntheticsCIBatchMetadataProvider.ts
  packages/datadog-api-client-v1/models/SyntheticsTestConfig.ts
Due: generated, generated-features, generate

v1.0.0-beta.6
  CHANGELOG.md
  package.json
Due: none

v1.0.0-beta.6 (#354)
  CHANGELOG.md
  package.json
Due: none

fix pre-commit
  .github/workflows/test.yml
Due: none

Regenerate client from commit 5f61238 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

Regenerate client from commit 4b9e0f1 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  .generator/schemas/v2/openapi.yaml
  docs/v2/LogsApi.md
  features/v2/logs.feature
  features/v2/undo.json
  packages/datadog-api-client-v2/.openapi-generator/FILES
  packages/datadog-api-client-v2/apis/LogsApi.ts
  packages/datadog-api-client-v2/index.ts
  packages/datadog-api-client-v2/models/ContentEncoding.ts
  packages/datadog-api-client-v2/models/HTTPLogError.ts
  packages/datadog-api-client-v2/models/HTTPLogErrors.ts
  packages/datadog-api-client-v2/models/HTTPLogItem.ts
  packages/datadog-api-client-v2/models/ObjectSerializer.ts
  packages/datadog-api-client-v2/servers.ts
  packages/datadog-api-client-v2/types/ObjectParamAPI.ts
  packages/datadog-api-client-v2/types/ObservableAPI.ts
  packages/datadog-api-client-v2/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit ea18b19 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/MonitorsApi.md
  features/v1/monitors.feature
  packages/datadog-api-client-v1/apis/MonitorsApi.ts
  packages/datadog-api-client-v1/models/MonitorOptions.ts
  packages/datadog-api-client-v1/models/MonitorType.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generated-features, generate

Regenerate client from commit 2a03497 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/MonitorType.ts
  packages/datadog-api-client-v1/models/ObjectSerializer.ts
Due: generated, generate

Regenerate client from commit 51e9017 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/AzureIntegrationApi.md
  features/v1/azure_integration.feature
  packages/datadog-api-client-v1/models/AzureAccount.ts
Due: generated, generated-features, generate

add support for DEBUG env var
  .generator/templates/api/middleware.mustache
  .generator/templates/configuration.mustache
  .generator/templates/http/http.mustache
Due: generate

add support for debug flag via code
  .generator/templates/configuration.mustache
Due: generate

Fix errors and remove unnecessary code
  .generator/templates/api/middleware.mustache
  .generator/templates/http/http.mustache
Due: generate

add missing import, fix handling of debug flag with the env var
  .generator/templates/configuration.mustache
Due: generate

remove DEBUG env var
  .generator/templates/configuration.mustache
Due: generate

apply suggestions
  .generator/templates/api/middleware.mustache
Due: generate

apply suggestions + improvements
  .generator/templates/api/middleware.mustache
  .generator/templates/configuration.mustache
Due: generate

Regenerate client from commit 63c3c10 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
Due: generate

add loglevel to LICENSE-3rdparty
  LICENSE-3rdparty.csv
Due: none

use loglevel for logging
  .generator/templates/model/ObjectSerializer.mustache
  features/step_definitions/request_steps.ts
  features/support/undo.ts
  package.json
  yarn.lock
Due: generate

Regenerate client from commit 54b7a75 of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/DowntimesApi.md
  packages/datadog-api-client-v1/apis/DowntimesApi.ts
  packages/datadog-api-client-v1/types/ObjectParamAPI.ts
  packages/datadog-api-client-v1/types/ObservableAPI.ts
  packages/datadog-api-client-v1/types/PromiseAPI.ts
Due: generated, generate

Regenerate client from commit 66dd726 of spec repo
  .apigentools-info
  packages/datadog-api-client-v1/configuration.ts
  packages/datadog-api-client-v1/middleware.ts
  packages/datadog-api-client-v2/configuration.ts
  packages/datadog-api-client-v2/middleware.ts
Due: generated

Regenerate client from commit d9035aa of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  packages/datadog-api-client-v1/models/UsageBillableSummaryHour.ts
Due: generated, generate

improve logging
  .generator/templates/model/ObjectSerializer.mustache
  features/step_definitions/request_steps.ts
  features/support/undo.ts
  index.ts
Due: generate

add PollyJS logging
  features/support/vcr.ts
Due: none

fix logger error
  index.ts
Due: none

Regenerate client from commit 089545c of spec repo
  .apigentools-info
  .generator/schemas/v1/openapi.yaml
  docs/v1/MonitorsApi.md
Due: generate

apply suggestion
  features/support/undo.ts
Due: none

output log request errors to debug
  features/step_definitions/request_steps.ts
Due: none
